{% load i18n %}
{% load icons %}
{% load crs %}
{% load humanize %}
{% if selected_facet %}

<div class="col-md-4">
    <h4>{{ projects_count|intcomma }}</h4>
    <p>{% trans "Italian development activities" %}</p>
</div>
<div class="col-md-4">
    <h4>€ {{ commitments_sum|currency }}</h4>
    <p>{% trans "Total funding committed" %}</p>
</div>
<div class="col-md-4">
    <h4>€ {{ disbursements_sum|currency }}</h4>
    <p>{% trans 'Total funding used' %}</p>
</div>

{% else %}

<ul class="nav nav-tabs" role="tablist">
    <li class="active" style="width: 40%"><a href="#bi-multi-tab" role="tab" data-toggle="tab">
        <h4>Aiuto Bilaterale e Multi-Bilaterale {% icon 'question-circle' %}</h4>

        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <span class="currency">€ {{ commitments_sum|floatformat:3 }} <span>mln</span></span><br/>
                        <small>{% trans 'Committed funds' %}</small>
                    </div>
                    <div class="col-md-6">
                        <span class="currency">€ {{ disbursements_sum|floatformat:3 }} <span>mln</span></span><br/>
                        <small>{% trans 'Used funds' %}</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <span class="currency">{{ projects_count|intcomma }}</span> <br/>
                <small>{% trans 'Activities' %}</small>
            </div>
        </div>

    </a></li>
    <li style="width: 30%"><a href="#multi-tab" role="tab" data-toggle="tab">
        <h4>Aiuto pubblico Multilaterale {% icon 'question-circle' %}</h4>
        <div class="row">
            <div class="col-md-6">
                <span class="currency">€ {{ multi_commitments_sum|floatformat:3 }} <span>mln</span></span><br/>
                <small>{% trans 'Committed funds' %}</small>
            </div>
            <div class="col-md-6">
                <span class="currency">€ {{ multi_disbursements_sum|floatformat:3 }} <span>mln</span></span><br/>
                <small>{% trans 'Used funds' %}</small>
            </div>
        </div>
    </a></li>
    <li style="width: 30%"><a href="#total-aid-tab" role="tab" data-toggle="tab">
        <h4>Aiuto pubblico allo sviluppo - Complessivo {% icon 'question-circle' %}</h4>
        <div class="row">
            <div class="col-md-6">
                <span class="currency">€ {{ total_commitments_sum|floatformat:3 }} <span>mln</span></span><br/>
                <small>{% trans 'Committed funds' %}</small>
            </div>
            <div class="col-md-6">
                <span class="currency">€ {{ total_disbursements_sum|floatformat:3 }} <span>mln</span></span><br/>
                <small>{% trans 'Used funds' %}</small>
            </div>
        </div>
    </a></li>
</ul>

{% endif %}