{% load i18n %}
{% load crs %}

<div>
    <ul class="nav nav-pills ">
        {% for sector in initiative.sectors|unique %}
        <li>
            <a href="{% url 'codelists:sector-detail' code=sector.code %}"><span class="fa fa-chevron-right"> </span>{{ sector.name }}</a>
        </li>
        {% endfor %}
    </ul>
    <article class="progetti-body">
        <header>
          <a href="{% url 'projects:initiative-detail' code=initiative.code %}">{{ initiative.title }}</a>
          {% with description=initiative.description %}{% if description %}
           <div class="media">
              {% with image=initiative.image %}{% if image %}
              <div class="pull-left">
                <img width="50px" class="media-object" src="{{ initiative.image.file.url }}" >
              </div>{% endif %}{% endwith %}
              <div class="media-body">
                <p>{{ initiative.description }}</p>
              </div>
            </div>
          {% endif %}{% endwith %}
        </header>
        <div class="row">
            <div class="col-md-6">
              <div id="project-pie-{{ initiative.pk }}" data-chart="pie" data-values="{{ initiative.total_commitment|stringformat:"f"|default:'0' }}|{{ initiative.total_disbursement|stringformat:"f"|default:'0' }}"></div>
{#            </div>#}
            {% with p_total_commitment=initiative.total_commitment|default:0 p_total_disbursement=initiative.total_disbursement|default:0 %}
{#            <div class="col-md-3 col-sm-6 col-xs-6">#}
                <div class=" numbers bg-red bordered-radius small-pad">{% if p_total_commitment %}€ {{ p_total_commitment|currency }}{% else %}-{% endif %}<br><span class="eleven">{% trans 'Committed' %}</span></div>
{#            </div>#}
{#            <div class="col-md-3 col-sm-6 col-xs-6">#}
                <div class=" numbers bg-blue bordered-radius small-pad">{% if p_total_disbursement %}€ {{ p_total_disbursement|currency }}{% else %}-{% endif %}<br><span class="eleven">{% trans 'Used' %}</span></div>
            </div>
            {% endwith %}
            <div class="col-md-6 col-sm-12 col-xs-12">
                <span class="eleven light-gray block">{% trans 'Aid types' %}</span>
                {% for aid_type in initiative.aid_types|unique %}
                <a href="{% url 'codelists:aid_type-detail' code=aid_type.code %}" class="eleven">{{ aid_type.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
         </div><!-- .row -->
        <div class="row">
            <div class="col-md-12">
                {% for recipient in initiative.recipients|unique %}
                <a href="{% url 'codelists:recipient-detail' code=recipient.code %}" class="twelve">{{ recipient.name }}</a>
                {% if not forloop.last %}&middot;{% endif   %}{% endfor %}
            </div>
        </div>
    </article>
</div>