{% load i18n icons humanize crs %}

<div class="row" id="codelist-chart-container">
    <div class="col-md-12">
        <div class="col-md-3">
            <h2>{% trans 'Aid during the time' %}</h2>
            <p>{% blocktrans %}The variation of resources committed and paid for development aid.{% endblocktrans %}</p>
            <br><br>
            <p class="lead">
                <i class="fa fa-circle" style="font-size: 13px; color: #f7505a !important;"></i> {% trans "Committed" %} <br>
                <i class="fa fa-circle" style="font-size: 13px; color: #2b6a7c !important;"></i> {% trans "Used" %}
            </p>
        </div>
        <div class="col-md-9">
            <div id="time-chart"></div>
            <table class="hide" id="time-chart-table">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>{% trans "Committed" %}</th>
                    <th>{% trans "Used" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for year, commitment, disbursement in years_values %}
                <tr>
                    <td>{{ year }}</td>
                    <td data-value="{{ commitment|stringformat:"f" }}">{{ commitment|currency }}</td>
                    <td data-value="{{ disbursement|stringformat:"f" }}">{{ disbursement|currency }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% include 'commons/years_bar.html' %}
    </div>
</div>

<div id="stats-panel">

    {% if not selected_facet %}{% include 'commons/aid_tabs.html' %}{% endif %}

    <div class="panel panel-default{% if not selected_facet %} stats-home{% endif %}">

        {% if selected_facet %}
            <div class="panel-heading">
                {% include 'commons/aid_tabs.html' %}
            </div>
            {% include 'commons/stats.html' %}
        {% else %}

        <!-- Tab panes -->
        <div class="tab-content panel-body">
            <div class="tab-pane active" id="bi-multi-tab">
                {% include 'commons/stats.html' %}
            </div>{% if not widget %}
            <div class="tab-pane" id="multi-tab">
                {% include 'commons/stats_multi.html' %}
            </div>
            <div class="tab-pane" id="total-aid-tab">
                {% include 'commons/stats_totals.html' %}
            </div>{% endif %}
        </div>
        {% endif %}
        {% if not widget %}
        <div class="panel-footer text-right">
            <small class="text-muted">{% trans 'Committed funds, amounts in euros.' %}</small>
        </div>
        {% endif %}
    </div>
</div>
