{% load i18n %}
{% load crs %}

<div>
    <ul class="nav nav-pills ">
        {% for sector in project.sectors|unique %}
        <li>
            <a href="{% url 'codelists:sector-detail' code=sector.code %}"><span class="fa fa-chevron-right"> </span>{{ sector.name }}</a>
        </li>
        {% endfor %}
    </ul>
    <article class="progetti-body">
        <header>
            <div id="project-pie-{{ project.pk }}" data-chart="pie" data-values="{{ project.total_commitment|default:'0' }}|{{ project.total_disbursement|default:'0' }}"></div>
            {% with project_title=project.title %}
            <a href="{% url 'projects:project-detail' pk=project.pk %}">{% if project_title %}{{ project.title }}{% else %}<i>{% trans 'No title' %}</i>{% endif %}</a>
            {% endwith %}
        </header>
        <div class="row">
            <div class="col-md-3">
                <div class=" numbers bg-red bordered-radius small-pad">€ {{ project.total_commitment|currency }}<br><span class="eleven">{% trans 'Committed' %}</span></div>
            </div>
            <div class="col-md-3">
                <div class=" numbers bg-blue bordered-radius small-pad">€ {{ project.total_disbursement|currency }}<br><span class="eleven">{% trans 'Used' %}</span></div>
            </div>
            <div class="col-md-3">
                <span class="eleven light-gray block">{% trans 'Aid types' %}</span>
                {% for aid_type in project.aid_types|unique %}
                <a href="{% url 'codelists:aid_type-detail' code=aid_type.code %}" class="eleven">{{ aid_type.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-3">
                <span class="eleven light-gray block">{% trans 'Channels' %}</span>
                {% for channel in project.channels|unique %}
                <a href="{% url 'codelists:channel-detail' code=channel.code %}" class="eleven">{{ channel.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
            {% if project.recipient %}
            <div class="col-md-12">
                {% for recipient in project.recipients|unique %}
                <a href="{% url 'codelists:recipient-detail' code=recipient.code %}" class="twelve">{{ recipient.name }}</a>
                {% endfor %}
            </div>
            {% endif %}
         </div><!-- .row -->
    </article>
</div>