{% load i18n %}
{% load crs %}
{% load search_utils %}
<div class="row panel-pad stats-panel-columns">

    <div class="col-md-4">
        <h3>{% trans 'Committed funds' %}</h3>

        <div id="donut2"></div>

        <div class="table-responsive">
            <table class="table table-condensed table-hover" data-chart="donut" data-container="donut2">
                <tbody>
                {% for fund in multi_stats %}
                <tr class="dotted">
                    <td class="col-sm-8" data-title="{{ fund.organization }}">{{ fund.organization }}</td>
                    <td class="col-sm-4"><span data-value="{{ fund.commitment|stringformat:"f" }}">{{ fund.commitment|currency }}</span></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="col-md-4">
        <h3>{% trans 'Used funds' %}</h3>

        <div id="donut3"></div>

        <div class="table-responsive">
            <table class="table table-condensed table-hover" data-chart="donut" data-container="donut3">
                <tbody>
                {% for fund in multi_stats %}
                <tr class="dotted">
                    <td class="col-sm-8" data-title="{{ fund.organization }}">{{ fund.organization }}</td>
                    <td class="col-sm-4"><span data-value="{{ fund.disbursement|stringformat:"f" }}">{{ fund.disbursement|currency }}</span></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-4">
        <h3>{% trans 'Multilateral Official Development Assistance' %}</h3>

        <p>
{% blocktrans %}These funds are classified as multilateral ODA (all other categories fall
under bilateral ODA). The recipient multilateral institution pools contributions so that they lose their
identity and become an integral part of its financial assets. {% endblocktrans %}
        </p>
    </div>
</div><!-- .row -->