{% load i18n %}
{% load icons %}
{% load search_utils %}
{% load listutil %}
<div class="progetti">
    <h2>{% trans "Most important activities" %}</h2>
    <div class="bordered-radius" style="overflow:hidden;">
        <ul class="list-unstyled">
            {% for row in top_initiatives|columns:2 %}
            <li class="row">
              {% for result in row %}
              <div class="col-md-6">
                {% include 'commons/initiative_element.html' with initiative=result %}
              </div>
              {% endfor %}
            </li>
            {% endfor %}
        </ul>
        <a href="{% if object %}{% search_url object.code_list_facet object.code %}{% else %}{% url 'projects:search' %}{% endif %}"
           class="read-more pull-right pad">{% trans 'see all' %} {% icon 'align-justify' %}</a>
    </div>
</div>