{% load i18n %}
{% load icons %}
{% load search_utils %}
<div class="progetti">
    <h2><a href="{% if object %}{% search_url object.code_list_facet object.name %}{% else %}{% url 'projects:search' %}{% endif %}"
            >{% if project %}{% trans "Similar initiatives" %}{% else %}{% trans "Most important acitivities" %}{% endif %}</a></h2>
    <div class="bordered-radius" style="overflow:hidden;">
        <ul class="list-unstyled">
            {% for result in top_projects|dictsort:'total_commitment' %}
            <li>
                {% include 'commons/project_element.html' with project=result %}
            </li>
            {% endfor %}
        </ul>
        <a href="{% if object %}{% search_url object.code_list_facet object.name %}{% else %}{% url 'projects:search' %}{% endif %}"
           class="read-more pull-right pad">{% trans 'see all' %} {% icon 'align-justify' %}</a>
    </div>
</div>