{% load i18n icons search_utils listutil crs %}

<div class="progetti">
    <h2>
        {% if top_initiatives|length > 29 %}
            {% trans "Top thirty initiatives in progress with most funding" %}
        {% else %}
            {% trans "All initiatives in progress" %}
        {% endif %}
    </h2>

    <div class="bordered-radius" style="overflow:hidden;" id="top_initiatives">
        <div class="table-responsive table-special">
            <table class="table">
                <tbody>
                {% for initiative in top_initiatives %}
                    <tr>
                        <th scope="row">
                            <a href="{{ initiative.get_absolute_url }}">
                                {{ initiative.title|default:"initiative without name" }}
                            </a>
                        </th>
                        <td>{% if initiative.recipient_temp %}{{ initiative.recipient_temp.name }}{% else %}<small class="text-muted">-</small>{% endif %}</td>
                        <td>{% if initiative.total_project_costs %}&euro;&nbsp;{{ initiative.total_project_costs|currency_initiatives }}{% else %}<small class="text-muted">-</small>{% endif %}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>