{% load i18n %}
<div class="col-md-3" id="years-header">
    <h2>{% trans 'Aid in numbers' %}</h2>{% if selected_facet %}
    <h3>{% trans 'Bilateral and Multi-bilateral' %}</h3>{% endif %}
</div>

<div class="col-md-9">
    <div class="years-navigation">
        <nav class="navbar navbar-default" role="navigation">
{#            <div class="navbar-header">#}
{#                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#years">#}
{#                    <span class="sr-only">Toggle navigation</span>#}
{#                    <span class="icon-bar"></span>#}
{#                    <span class="icon-bar"></span>#}
{#                    <span class="icon-bar"></span>#}
{#                </button>#}
{#            </div>#}

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="years">
                <ul class="nav navbar-nav">
                    {% for year in years %}
                    <li class="{% spaceless %}
                    {% if year == selected_year %}selected {% endif %}
                    {% if forloop.first %}first{% elif forloop.last %}last{% endif %}">
                        <a href="?year={{ year }}" class=""><span class="point hidden-xs hidden-sm"> </span> {{ year }}</a></li>{% endspaceless %}
                    {% endfor %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div><!-- .years-navigation -->
</div>