# Basics
*.py[cod]
*.pyc
__pycache__
migrations/
dumps/
# Env file
.env

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.pot
*.mo

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Campass
.sass-cache
