{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}
{% load crs %}

{% block content %}

<div class="row">
    <div class="container">

        <header class="col-md-9">
            <div class="btn-group">
                <a href="#" class="btn btn-aid">Scarica i dati in JSON <span class="fa fa-download"> </span></a>
                <a href="#" class="btn btn-aid">Scarica i dati in XML <span class="fa fa-download"> </span></a>
            </div>
            <br>
            <h2 class="pull-left">{{ object.name }}</h2>
            <a href="#" class="read-more pull-left pad">VEDI TUTTE LE INIZIATIVE <span class="fa fa-align-justify"> </span></a>
            {% if object.parent %}
            <h3 class="sub-title">{% if object.parent.parent %}&gt; {{ object.parent.parent.name }} {% endif %}&gt; {{ objct.parent.name }}</h3>
            {% endif %}
        </header>
        <header class="col-md-3 text-right">
            <img src="{% static 'img/contents/social.jpg' %}">
        </header>
    </div>
</div>

<div class="spacer"> </div>

<div class="row">
    <div class="container">
        <div class="col-md-12">
            <p>Lorem Ipsum è un testo segnaposto utilizzato nel  Lorem Ipsum è un testo segnaposto utilizzato nel  Lorem Ipsum è un testo segnaposto utilizzato nel </p>
            <a href="#" class="read-more pull-right twelve">LEGGI TUTTO <span class="fa fa-caret-down"> </span></a>
        </div>
    </div><!-- .container -->
</div><!-- .row -->

<div class="spacer"> </div>

{% crs_stats channel=object %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="progetti">
                <h2><a href="#">INIZIATIVE PER "{{ object.name }}"</a></h2>
                <div class="bordered-radius" style="overflow:hidden;">
                    <ul class="list-unstyled">
                        <li>
                            <ul class="nav nav-pills ">
                                <li>
                                    <a href="#"><span class="fa fa-chevron-right"> </span>Infrastrutture e servizi sociali</a>
                                </li>
                                <li>
                                    <a href="#"><span class="fa fa-chevron-right"> </span> Lorem ipsum dolor sit armet</a>
                                </li>
                                <li>
                                    <a href="#"><span class="fa fa-chevron-right"> </span> Lorem ipsum dolor sit amet nome troppo luced adisciping</a>
                                </li>
                            </ul>
                            <article class="progetti-body">
                                <header>
                                    <div id="pie1"></div>
                                    <a href="#">Incentivazione dei processi di Rigenerazione Culturale, organizzazione degli
                                        spazi e promozione dei diritti delle Comunità Indigene Mapuche in Araucania</a>
                                </header>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class=" numbers bg-red bordered-radius small-pad">€ 300.000.000<br><span class="eleven">IMPEGNATI, 2012</span></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class=" numbers bg-blue bordered-radius small-pad">€ 300.000.000<br><span class="eleven">IMPEGNATI, 2012</span></div>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="eleven light-gray block">TIPOLOGIA</span>
                                        <a class="eleven">Lorem ipsum</a>, <a class="eleven">Lorem ipsum</a>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="eleven light-gray block">TIPOLOGIA</span>
                                        <a class="eleven">Lorem ipsum</a>, <a class="eleven">Lorem ipsum</a>
                                    </div>
                                    <div class="col-md-12"><a href="#" class="twelve">PAESE</a> <a href="#" class="twelve">PAESE</a> <span class="twelve light-gray">anno</span> <span class="twelve light-gray">anno</span></div>
                                </div><!-- .row -->
                            </article>
                        </li>
                        <li>
                            <ul class="nav nav-pills ">
                                <li>
                                    <a href="#"><span class="fa fa-chevron-right"> </span>Infrastrutture e servizi sociali</a>
                                </li>
                                <li>
                                    <a href="#"><span class="fa fa-chevron-right"> </span> Lorem ipsum dolor sit armet</a>
                                </li>
                                <li>
                                    <a href="#"><span class="fa fa-chevron-right"> </span> Lorem ipsum dolor sit amet nome troppo luced adisciping</a>
                                </li>
                            </ul>
                            <article class="progetti-body">
                                <header>
                                    <div id="pie2"></div>
                                    <a href="#">Incentivazione dei processi di Rigenerazione Culturale, organizzazione degli
                                        spazi e promozione dei diritti delle Comunità Indigene Mapuche in Araucania</a>
                                </header>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class=" numbers bg-red bordered-radius small-pad">€ 300.000.000<br><span class="eleven">IMPEGNATI, 2012</span></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class=" numbers bg-blue bordered-radius small-pad">€ 300.000.000<br><span class="eleven">IMPEGNATI, 2012</span></div>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="eleven light-gray block">TIPOLOGIA</span>
                                        <a class="eleven">Lorem ipsum</a>, <a class="eleven">Lorem ipsum</a>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="eleven light-gray block">TIPOLOGIA</span>
                                        <a class="eleven">Lorem ipsum</a>, <a class="eleven">Lorem ipsum</a>
                                    </div>
                                    <div class="col-md-12"><a href="#" class="twelve">PAESE</a> <a href="#" class="twelve">PAESE</a> <span class="twelve light-gray">anno</span> <span class="twelve light-gray">anno</span></div>
                                </div><!-- .row -->
                            </article>
                        </li>
                        <li>
                            <ul class="nav nav-pills ">
                                <li>
                                    <a href="#"><span class="fa fa-chevron-right"> </span>Infrastrutture e servizi sociali</a>
                                </li>
                                <li>
                                    <a href="#"><span class="fa fa-chevron-right"> </span> Lorem ipsum dolor sit armet</a>
                                </li>
                                <li>
                                    <a href="#"><span class="fa fa-chevron-right"> </span> Lorem ipsum dolor sit amet nome troppo luced adisciping</a>
                                </li>
                            </ul>
                            <article class="progetti-body">
                                <header>
                                    <div id="pie3"></div>
                                    <a href="#">Incentivazione dei processi di Rigenerazione Culturale, organizzazione degli
                                        spazi e promozione dei diritti delle Comunità Indigene Mapuche in Araucania</a>
                                </header>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class=" numbers bg-red bordered-radius small-pad">€ 300.000.000<br><span class="eleven">IMPEGNATI, 2012</span></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class=" numbers bg-blue bordered-radius small-pad">€ 300.000.000<br><span class="eleven">IMPEGNATI, 2012</span></div>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="eleven light-gray block">TIPOLOGIA</span>
                                        <a class="eleven">Lorem ipsum</a>, <a class="eleven">Lorem ipsum</a>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="eleven light-gray block">TIPOLOGIA</span>
                                        <a class="eleven">Lorem ipsum</a>, <a class="eleven">Lorem ipsum</a>
                                    </div>
                                    <div class="col-md-12"><a href="#" class="twelve">PAESE</a> <a href="#" class="twelve">PAESE</a> <span class="twelve light-gray">anno</span> <span class="twelve light-gray">anno</span></div>
                                </div><!-- .row -->
                            </article>
                        </li>
                    </ul>
                    <a href="#" class="read-more pull-right pad">VEDI TUTTE LE INIZIATIVE <span class="fa fa-align-justify"> </span></a>
                </div>
            </div>
        </div>
    </div>
</div><!-- .container -->
{% endblock %}