{% extends 'codelists/base_codelist.html' %}

{% load staticfiles %}
{% load i18n %}
{% load icons %}

{% block codelist_header %}

<div class="media">
    <span class="pull-left">
        <img style="height: 56px;" class="media-object img-thumbnail" src="{% static 'img/flags' %}/{{ object.iso_alpha2|lower }}.png" alt="{{ object.name }}"/>
    </span>
    <div class="media-body">
        {{ block.super }}
    </div>
</div>

{% endblock %}

{% block codelist_description %}
<div class="row">
    <div class="col-md-4">
        <div class="small-map"><img src="{% static 'img/contents/small-map.jpg' %}" class="img-responsive"></div>
    </div>

    <div class="col-md-4">
        <h3>POLITICHE DI COOPERAZIONE</h3>
        <p>{{ object.description }}</p>
{#        <a href="#" class="read-more pull-right twelve">{% trans 'read more' %} {% icon 'caret-down' %}</a>#}

        <div class="small-spacer"> </div>

        <h3>DATI DI CONTESTO</h3>
        <dl class="dl-horizontal">
            <dt>{% trans 'Population' %}</dt><dd>{{ object.popolazione|default_if_none:'-' }}</dd>
            <dt>{% trans 'Population growth' %}</dt><dd>{{ object.crescita_popolazione|default_if_none:'-' }}</dd>
            <dt>{% trans 'PIL' %}</dt><dd>{{ object.pil|default_if_none:'-' }}</dd>
            <dt>{% trans 'PIL pro-capita' %}</dt><dd>{{ object.pil_procapite|default_if_none:'-' }}</dd>
        </dl>
        <br/>
    </div>

    <div class="col-md-4">
        <h3>CHI REALIZZA LE INIZIATIVE?</h3>
        <ul class="list-unstyled simple-menu" style="height: auto;">
            {% for i in '12345' %}
            <li>Soggetto {{ i }}</li>
            {% endfor %}
        </ul>
        <span class="eleven light-gray block">ANNI  DI ATTIVITÀ 2004-2014</span>
    </div>
</div><!-- .row -->

<div class="spacer"> </div>
{% endblock %}
