{% load crs %}

<div>
    <ul class="nav nav-pills ">
        {% for sector in project.sectors %}
        <li>
            <a href="{% url 'codelists:sector-detail' code=sector.code %}"><span class="fa fa-chevron-right"> </span>{{ sector.name }}</a>
        </li>
        {% endfor %}
    </ul>
    <article class="progetti-body">
        <header>
            <div id="pie1"></div>
            <a href="{% url 'projects:project-detail' pk=project.pk %}">{{ project.title }}</a>
        </header>
        <div class="row">
            <div class="col-md-3">
                <div class=" numbers bg-red bordered-radius small-pad">€ {{ project.usd_commitment|currency }}<br><span class="eleven">IMPEGNATI, {{ year }}</span></div>
            </div>
            <div class="col-md-3">
                <div class=" numbers bg-blue bordered-radius small-pad">€ {{ project.usd_disbursement|currency }}<br><span class="eleven">EROGATI, {{ year }}</span></div>
            </div>
            <div class="col-md-3">
                <span class="eleven light-gray block">TIPOLOGIA</span>
                {% for aid_type in project.aid_types %}{% if aid_type %}
                <a href="{% url 'codelists:aid_type-detail' code=aid_type.code %}" class="eleven">{{ aid_type.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endif %}{% endfor %}
            </div>
            <div class="col-md-3">
                <span class="eleven light-gray block">CANALI</span>
                {% for channel in project.channels %}{% if channel %}
                <a href="{% url 'codelists:channel-detail' code=channel.code %}" class="eleven">{{ channel.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endif %}{% endfor %}
            </div>
            {% if project.recipient %}
            <div class="col-md-12">
                <a href="{% url 'codelists:recipient-detail' code=project.recipient.code %}" class="twelve">{{ project.recipient.name }}</a>
            </div>
            {% endif %}
         </div><!-- .row -->
    </article>
</div>