{% extends 'cooperazione_base.html' %}

{% block container %}
    <p>
        Italian Development Cooperation aims to strengthen partnerships and synergies within the Italian System as a
        whole, with particular attention to these key pillars: <b>NGO</b>s;
        decentralized cooperation and regional and local
        authorities; trade associations and organizations; and the education system, universities and centers for
        academic excellence.
    </p>
    <p>
        Through regular meetings, we work side by side with Italian NGOs, financing part of their projects and/or
        promoting their activities when involved in EU or UN programs.
    </p>
    <p>
        By <b>decentralized cooperation</b> we refer to those initiatives implemented by Italian regions, provinces and
        municipalities, which represent an important commitment and a great opportunity for Italian Cooperation. These
        initiatives are regulated by the "Guidelines for the Collaboration between the Directorate General for
        Development Cooperation and Regions and Local Authorities”. This document was approved in March 2000 by the
        Steering Committee of the Ministry of Foreign Affairs and established the collaboration with the Association of
        Italian Municipalities (ANCI).
    </p>
    <p>
        We fully recognize the growing role of <b>SMEs and micro-enterprises</b> in development programs and collaborate with
        small-scale trade associations. We have also established a solid network with the manufacturing association
        Confindustria and the financial sector, whose role is crucial for the transfer of know-how and for joint
        initiatives between the public and private sector.
    </p>
    <p>
        We support a proactive collaboration between <b>Italian universities</b> and the ones in developing countries,
        particularly those in Africa. Initiatives in the Balkans and Mediterranean countries have recently increased
        thanks to the synergies created with Italian cultural cooperation programs in these regions. The development of
        inter-university cooperation and training in developing countries is also promoted through the funding of
        post-graduate courses and Masters programs, thanks also to the well-established cooperation with the most
        important Italian universities networks.
    </p>
{% endblock container %}

