{% extends 'cooperazione_base.html' %}

{% block container %}
    <p>
        Aid effectiveness has gained growing importance over the years thanks to the process begun in Rome in 2003,
        continued with the Paris Declaration of 2005, the Accra Agenda for Action of 2008, and culminated with the
        high-level Forum on Aid Effectiveness in Busan in 2011. The forum has identified a new direction for
        international development cooperation, surpassing the traditional North-South approach and defining new
        international policies involving South-South cooperation.
    </p>
    <p>
        The forum’s final document restates the common fight against poverty and inequality and its universal commitment
        to sustainable and inclusive growth respecting human rights, democratic values and the principles of good
        governance. Italian Development Cooperation has consequently implemented its first plan for aid effectiveness
        and carried out activities specifically designed to make its action more responsive to the principles and
        procedures identified in Paris and Accra, such as: the updating of sector-based guidelines; the simplification
        of procedures; the identification of a marker to evaluate the overall effectiveness of all initiatives of
        bilateral cooperation. Italian Development Cooperation has drafted a second plan for Aid Effectiveness (2011)
        and established comprehensive country programs on a three-year basis which meet brevity, transparency,
        feasibility, harmonization and measurability standards.
    </p>
{% endblock container %}

