{% extends 'cooperazione_base.html' %}

{% block container %}
    <p>
        Italian Cooperation’s aims and guiding principles are founded upon international agreements and/or decisions
        taken within the EU, such as the <b>Cotonou Agreement</b>, which was signed between the EU and ACP countries
        (Africa, Caribbean and Pacific Group of States) in 2000, and defines the guiding principles of sustainable
        development for the gradual integration of ACP countries into the global economy.
    </p>
    <p>
        Other international guidelines are the 2002 <b>Monterrey Consensus</b> (which refers in particular to funding
        sources that will contribute to the achievement of the Millennium Development Goals and the development of the
        private sector in developing countries); the decisions of the <b>European Council in Barcelona</b> in 2002
        (which commit the member states to a progressive increase in ODA, both at community and national levels) and the
        principles stated and commitments taken at the <b>World Summits on the Information Society</b>, held in Geneva
        in 2003 and Tunis in 2005, with particular reference to the topic of e-government in developing countries.
    </p>
{% endblock container %}

