{% extends 'cooperazione_base.html' %}

{% block container %}
<p>
    Best practices represent projects that can be an interesting and effective
    example to follow in similar conditions. Special working methods,
    complex programs divided into different projects and even guidelines
    can be considered as best practices. While there is no standard model,
    there exist different parameters based on the nature of the problem.
    Most Italian best practices emphasize the importance of promoting gender
    equality and social inclusion, while others give priority to the
    protection of minors or to the prevention of mother-to-child HIV transmission.
</p>
{% endblock container %}

