{% extends 'cooperazione_base.html' %}

{% block container %}
<p>
    The 2000 Millennium Declaration established the central objective of
    halving absolute poverty by 2015. This objective was divided into eight goals,
    the Millennium Development Goals (MDGs), which must guide the action of the
    international cooperation: fight against poverty and hunger; universal primary
    education; elimination of gender inequality; reduction of child mortality;
    improvement of maternal health; fight against HIV/AIDS and other infectious diseases;
    environmental protection and creation of a global partnership for development.
</p>
<p>
    The Millennium Declaration is a milestone in the field of development
    cooperation and has inspired international efforts to improve the lives of hundreds
    of millions of people worldwide. World leaders are also committed to
    creating an extensive global partnership for development in order to achieve
    these universal goals.
</p>
{% endblock container %}

