{% extends 'cooperazione_base.html' %}

{% block container %}
<p>
    The activities of Italian Development Cooperation are ruled by Italian Law
    n. 49 of 1987, which established the Directorate General for
    Development Cooperation of the Ministry of Foreign Affairs.
    Initiatives and beneficiary countries are selected according to international
    guidelines and commitments. Our activities are mainly focused on the
    African continent (Sub-Saharan Africa), on countries with which we have
    signed important international commitments (Afghanistan, Lebanon)
    and on areas where the presence of our country has deep historical
    roots (Latin America, Middle East and Mediterranean region).
</p>

<p>
    Our primary areas of intervention are: the environment with particular
    attention to rural development, organic or conventional farming,
    alternative and renewable sources, gender policies and female empowerment,
    health and education.
</p>

<p>
    Official Development Assistance (ODA), in quantitative terms, is not the main source
    of funding for development. Significant amounts are derived from the mobilization
    of the developing countries internal resources, from foreign investments,
    and international trade participation.
</p>

<p>
    The ODA, particularly in less developed countries, plays a vital role in
    supporting local strategies to modernize institutions and commerce so that
    they benefit from global market opportunities, while, at the same time,
    protecting the most vulnerable segments of their populations.
</p>

<p>
    Our main partners in the realization of cooperation programs are:
    Italian ministries, central and local public agencies, universities,
    NGOs, companies, the European Union, international organizations and developing countries.
</p>

{% endblock container %}

