{% extends 'cooperazione_base.html' %}

{% block container %}
    <p>
        Italian Development Cooperation provides humanitarian assistance to victims of catastrophic events (natural or
        manmade), in order to safeguard human life, relieve suffering and maintain human dignity. Italy is committed to
        providing a response that is rapid and effective and satisfies local needs, following the three steps of
        humanitarian aid: **priority need** (relief); **emergency** (recovery and rehabilitation); **post-emergency**
        (linking
        relief and rehabilitation to development).
    </p>
    <p>
        Humanitarian aid focuses on those sectors identified as critical for survival and improvement of basic living
        conditions, such as food security, access to water, disaster risk reduction, protection of refugees and
        displaced persons. Equally important are issues such as gender mainstreaming and the protection of vulnerable
        groups (children and people with disabilities). We approved the “2012 Guidelines on Humanitarian Aid”, in the
        framework of the **Operating plan for aid effectiveness** drafted in coordination with other Italian
        humanitarian
        actors. The guidelines are based on the internationally recognized principles of **Good Humanitarian Donorship**
        on humanitarian action.
    </p>
{% endblock container %}

