{% extends 'cooperazione_base.html' %}

{% block container %}
    <p>
        The process of defining post 2015 development goals (UN post 2015 Agenda) should be completed during a summit to
        be convened in September 2015. This process also includes the one launched at the Rio +20 Conference for
        sustainable development goals. A key aspect of this process will consist of defining funding for the new
        development agenda.
    </p>
    <p>
        In this context, Italy is proactive in the ongoing debate both internationally and nationally. At the latter
        level, it has begun a consultation process within the “Inter-Institutional Committee on Cooperation for
        Development” with the participation of all actors of the Italian Cooperation. Both the Italian Presidency of the
        EU in the second half of 2014 and Expo Milano 2015 will be held at a crucial stage of the negotiation process
        for the new agenda.
    </p>
{% endblock container %}

