{% extends 'cooperazione_base.html' %}

{% block container %}
    <p>
        Italian Development Cooperation carries out its activities following some basic principles, those of <b>good
        governance</b> (respect for human rights, rule of law and transparency), of policy coherence and debt
        sustainability. We are also strongly committed to the promotion of foreign direct investment and coordination
        between national entities and multilateral donors, in order to avoid contradictory choices in the allocation of
        resources.
    </p>
    <p>
        Moreover, we truly believe in collaboration between countries, and we work side by side with Italian and foreign
        NGOs, local authorities, companies (multinational companies but first and foremost SMEs) universities and
        research institutes to transfer know-how in developing countries and contribute, also in this way, to the
        realization of <b>good governance</b>.
    </p>
    <p>
        Our main areas of intervention are: poverty reduction; Action Plan for Africa; sustainable development; the
        fight against HIV/AIDS, tuberculosis and malaria; education for all; food security; e-government; the rights of
        children, adolescents and young adults.
    </p>
{% endblock container %}

