{% extends 'pages_base.html' %}

{% block container %}
    <p>
        Redazione Portale Cooperazione Italiana allo Sviluppo,
        c/o Unità Tecnica Centrale Dgcs, Via Salvatore Contarini, 25 - 00135 Roma.
    </p>

    <p>E-mail: redazione.cooperazione@esteri.it</p>

    <p>
        Follow the Italian Development Cooperation also on

    </p>

    <ul>
        <li><a href="https://www.youtube.com/user/cooperazioneitaliana">YouTube</a></li>
        <li><a href="https://twitter.com/cooperazione_it">Twitter: @cooperazione_it</a></li>
        <li><a href="https://www.facebook.com/cooperazioneitalianaallosviluppo">Facebook</a></li>
    </ul>
{% endblock container %}

