{% extends 'pages_base.html' %}

{% block container %}
    <dl id="acronyms">
        <dt><a href="http://www.icrc.org/">CICR/ICRC</a> - International Committee of the Red Cross</dt>
        <dd>ICRC is an organization whose humanitarian mission is to protect
            the lives and dignity of victims of war and internal violence and to provide them with necessary assistance.
            It is endowed with international legal personality. Together with the International Federation of Red Cross
            and Red Crescent Societies (IFRC) and the National Societies of the Red Cross, it constitutes the
            International Movement of Red Cross and Red Crescent, whose by-laws allows them to intervene in humanitarian
            crisis. ICRC coordinates the Movement’s international assistance and relief activities in conflict’s
            situations.
        </dd>

        <dt><a href="http://www.ciheam.org/">CIHEAM/IAM</a> - Mediterranean Agronomic Institute</dt>
        <dd>The CIHEAM was founded in Paris in 1962 by seven European countries,
            with the goal of training managers in the agricultural sector in the Mediterranean. CIHEAM founded the IAM
            in Bari (Italy), Montpellier (France), Zaragoza (Spain) and Chania (Greece). The Mediterranean Agronomic
            Institute of Bari, operational structure of the Italian CIHEAM, is a centre for postgraduate education,
            applied scientific research and intervention planning.
        </dd>

        <dt><a href="http://www.fao.org/index_en.htm">FAO</a> -
            United Nations Food and Agriculture Organization
        </dt>
        <dd>FAO is the leading organization committed to fighting
            hunger worldwide, providing assistance to developing countries in order to modernize and improve in a
            sustainable way agricultural practices, forestry and fishing.
        </dd>

        <dt><a href="http://www.theglobalfund.org/en/">GFATM</a> -
            Global Fund to Fight AIDS, Tuberculosis and Malaria
        </dt>
        <dd>It is a public-private initiative stemmed from the
            Italian Presidency of the G8 in 2001and opened to the participation of 44 States, international
            organizations and private associations. In December 2013, Italy has announced a pledge of 100 million euros
            for the period 2014-2016.
        </dd>

        <dt><a href="http://www.globalpartnership.org/">GPE</a> -
            Global Partnership for Education
        </dt>
        <dd>GPE is the leading multilateral mechanism which provides technical and
            financial assistance for the implementation of the Millennium Development Goals 2 and 3. It operates through
            coordination of all partners, at the central and peripheral level, in close liaison with the recipient
            countries' institutions, with the objective to define and implement result-oriented education policies and
            to catalyze additional funding.
        </dd>

        <dt><a href="http://www.idlo.int/">IDLO</a> -
            International Development Law Organization
        </dt>
        <dd>IDLO is an intergovernmental organization dedicated to the
            promotion of the rule of law and good governance practices in developing countries, countries in economic
            transition and countries emerging from armed conflict or serious environmental disasters.
        </dd>

        <dt><a href="http://www.ifad.org/">IFAD</a> -
            International Fund for Agricultural Development
        </dt>
        <dd>IFAD is a specialized agency of the United Nations,
            established as an international financial institution in 1977, with the aim to fight hunger and poverty
            through the development of the agricultural sector and the improvement of daily conditions for the lives of
            rural people in developing countries. IFAD provides soft loans and/or grants for the financing of rural
            development projects planned jointly by the Agency and the recipient governments, with the support of donor
            countries.
        </dd>

        <dt><a href="http://www.iila.org/IILA/preparePage.do?lang=it">IILA</a> -
            Istituto Italo Latino Americano
        </dt>
        <dd>IILA is an international organization based in Rome, which includes 20
            States of Latin America. The aim is to document research on issues and prospects of member countries in
            cultural, scientific, economic, technical and social fields and to identify opportunities for mutual
            assistance and collaboration.
        </dd>

        <dt><a href="http://www.bioversityinternational.org/">BIOVERSITY</a> -
            Bioversity International
        </dt>
        <dd>Bioversity belongs to the network of international research centres of the CGIAR (Consultative Group for
            International Agricultural Research). The organization promotes sustainable development through research in
            the field of agricultural biodiversity, whose protection is essential to promote food security and the
            conservation of vegetable species.
        </dd>

        <dt><a href="http://www.ilo.org/public/italian/region/eurpro/rome/index.htm">OIL/ILO</a> -
            International Labour Organization
        </dt>
        <dd>ILO aims to promote workers' rights, boost employment in decent
            conditions, improve workplace safety, social protection and dialogue on labor issues. ILO has an important
            training centre in Turin.
        </dd>

        <dt><a href="http://www.iom.int/jahia/page1.html">OIM/IOM </a> -
            International Organization for Migration
        </dt>
        <dd>IOM was founded in 1951 and provides assistance to migrants.</dd>

        <dt><a href="http://www.who.int/en/">OMS/WHO</a> -
            World Health Organization
        </dt>
        <dd>WHO was created in 1948 with the aim to globally improve the quality of health,
            supporting health systems, eradication of endemic diseases, promotion of policies for a more healthy
            nutrition, proper hygiene and better workplace conditions.
        </dd>

        <dt><a href="http://www.wfp.org/italia/">PAM/WFP</a> -
            World Food Programme
        </dt>
        <dd>WFP is a humanitarian organization tasked with the provision of food during
            humanitarian crises caused by conflict or natural disasters.
        </dd>

        <dt><a href="http://www.undesa.it/">UNDESA</a> -
            United Nations Department for Economic and Social Affairs
        </dt>
        <dd>UNDESA is the main organ of the United Nations
            Secretariat in the field of economic affairs, social and environmental activities dedicated to development
            cooperation. Collaboration between Italy and UNDESA is particularly strong in the sectors of human resources
            and institution-building.
        </dd>

        <dt><a href="http://www.undp.org/">UNDP</a> - United Nations Program for Development</dt>
        <dd>UNDP was created by the General Assembly in 1965 to act as a
            central agency for funding and coordinating development activities in the United Nations system. It helps
            recipient countries in the definition of development strategies and policies and provides support for the
            strengthening of national capacities and South-South cooperation.
        </dd>

        <dt><a href="http://www.unfpa.org/">UNFPA</a> -
            United Nations Fund for Population
        </dt>
        <dd>UNFPA is a development agency which promotes international knowledge in
            the field of population and awareness of the social, economic and environmental impacts of demographic
            trends.
        </dd>

        <dt><a href="http://www.unfpa.org/">UNFPA</a> and <a href="http://www.unicef.it/">UNICEF</a> joint Programme for
            the elimination of female genital mutilation
        </dt>
        <dd>The "Female Genital Mutilation/Cutting:
            accelerating change" is a joint initiative of UNFPA and UNICEF, launched in 2007 with the goal of
            eliminating, in 17 African countries, the practice of female genital mutilation.
        </dd>

        <dt><a href="http://www.unhcr.it/">UNHCR</a> -
            United Nations High Commissioner for Refugees
        </dt>
        <dd>UNHCR provides international protection and material
            assistance to refugees and seeks lasting solutions to their plight.
        </dd>

        <dt><a href="http://www.unicef.it/">UNICEF</a> -
            United Nations Fund for Children
        </dt>
        <dd>UNICEF protects children rights and provides assistance to States in the
            implementation of policies designed to meet the basic needs of children. The Convention on the Rights of the
            Child is the legal framework within which UNICEF operates.
        </dd>

        <dt><a href="http://www.unicri.it/">UNICRI</a> -
            Research Institute for the United Nations Interregional Crime and Justice
        </dt>
        <dd>UNICRI was founded in 1967 and
            is responsible for research, training, development of technical cooperation programmes and the spread of
            information in the field of crime prevention.
        </dd>

        <dt><a href="http://www.unido.it/">UNIDO</a> -
            United Nations Industrial Development Organization
        </dt>
        <dd>UNIDO is a specialized Agency responsible for promoting
            sustainable industrialization in the developing countries.
        </dd>

        <dt><a href="http://www.unifem.org/">UNWOMEN</a> -
            United Nations Entity for Gender Equality and the Empowerment of Women
        </dt>
        <dd>UNWOMEN aims at promoting gender
            equality and female empowerment.
        </dd>

        <dt><a href="http://www.un.org/unrwa/english.html">UNRWA</a> -
            United Nations Relief and Works Agency for Palestine Refugees in the Near East
        </dt>
        <dd>UNRWA was established in
            December 1949 by the UN General Assembly to provide assistance to Palestinian refugees. It provides basic
            education and free health care, monitoring in particular maternal and child health.
        </dd>

        <dt><a href="http://www.unssc.org/web1/">UNSSC</a> -
            United Nations System Staff College
        </dt>
        <dd>UNSSC, based in Turin, is charged with training and upgrading the
            personnel of the entire United Nations system, in particular with regard to issues concerning development
            cooperation.
        </dd>


    </dl>

{% endblock container %}

