{% extends 'pages_base.html' %}

{% block container %}
<p>
    The Ministry of Foreign Affairs cannot be held liable for damages of any kind
    caused by the use of its web site and/or by the inability to access or use
    the information contained therein. The Ministry of Foreign Affairs cannot
    guarantee the completeness of the information provided on its website.
</p>
<p>
    As a service to its users, our website may provide links to external
    web pages not connected to us. The Ministry of Foreign Affairs does not
    check, monitor or endorse these websites and their contents and will not
    be responsible of these sites' contents and rules.
</p>
<p>
    The Ministry of Foreign Affairs is responsible for the treatment of
    personal data collected by its website and all user data are subject
    to the treatment provided by Italian privacy laws.
</p>
<p>
    Personal data is processed by automated tools for the time strictly
    necessary to achieve the purposes for which they were collected.
</p>
<p>
    Upon request, we will provide you with reasonable access to your personal data.
    We will also take reasonable steps to correct, update, amend or delete
    any information demonstrated to be inaccurate.
</p>
<p>
    Users can withdraw their consent to the use of their personal data
    by the Ministry of Foreign Affairs.
</p>
    
{% endblock container %}

