{% extends 'pages_base.html' %}

{% block container %}
    <p>
        Open Aid provides all data and information on Italian public aid to beneficiary countries, originating both from
        public institutions (Official Development Assistance and Other Official Flows) and private entities (Private
        Charitable Flows and Private Flows at Market Terms).
    </p>

    <p>
        The fragmentation of the Italian system of cooperation, similar to the one of other OECD countries, has
        complicated recent attempts to create a comprehensive, reliable and up-to-date information platform on this
        subject.
    </p>

    <p>
        Italian Development Cooperation believes that it is still a priority to provide this kind of tool, especially in
        order to fulfill the commitment of transparency taken during the Busan Conference in 2011. Therefore, we decided
        to develop a database to meet international standards (IATI); one that is easy to access and user-friendly.
    </p>

    <p>
        We are convinced that in an increasingly global world, investing in sustainable growth and contributing to the
        eradication of poverty represents for developed countries not only a moral obligation, but also an investment
        for the future of the international community as a whole. Italian political decisions should lead to a national
        consensus, recognizing that the well-being of some cannot coexist with the poverty of others. To achieve this
        consensus, it is fundamental that everyone have full knowledge of, and access to, Italian cooperation
        strategies; programs and activities; grants; and most importantly, resulting accomplishments.
    </p>

    <p>
        The platform will be gradually updated with new contents. Initially, it will contain mostly data and information
        on Official Development Assistance (ODA). In order to provide as soon as possible a comprehensive and
        transparent picture of the development aid of the entire Italian system we rely on the full cooperation of
        non-governmental organizations and the private sector.
    </p>

    <p>
        Please share with us your suggestions and help make this tool more comprehensive, effective and transparent.
    </p>
{% endblock container %}

