{% extends 'pages_base.html' %}

{% block container %}
    <p>In an increasingly interconnected world, investing in sustainable growth and contributing to the eradication of
        poverty represents for developed countries not only a moral obligation, but also an investment for the future of
        the international community as a whole. Political decisions should be based on a national consensus, recognizing
        that the well-being of some cannot coexist with the poverty of others. To achieve such consensus, it is
        fundamental that everyone have full knowledge of, and access to information on cooperation strategies, programs,
        activities, funding and results.</p>
    <p>This is the idea behind Open Aid, a portal providing access to all data and information on Italian Official
        Development Assistance), on its destination, on the use of funds for different initiatives since 2004. </p>
    <p>At a later stage, the portal will also provide detailed information on Private Charitable Flows and on
        non-concessional funding from public institutions (“Other Official Flows”) or private actors (Private Flows at
        Market Terms).</p>
    <p>The fragmentation of the Italian development cooperation system, has so far complicated attempts to create a
        comprehensive, reliable and up-to-date information platform on this subject. </p>
    <p>Italian Development Cooperation deems it a priority to provide such a tool, also in order to fulfill the
        commitment on transparency taken at the Busan Conference on Development Effectiveness in 2011. Therefore, we
        decided to develop a database in line with international standards (IATI) easy to access and user-friendly for
        all.</p>

    <p>The platform will be gradually updated with new contents, including photo galleries and updates on ongoing
        initiatives. In the first stage, it will contain mostly data and information on Official Development Assistance
        (ODA). In the following development stages, the system will be open to contributions of non-governmental
        organizations and the private sector in order to provide as soon as possible a comprehensive and transparent
        picture of Italian development aid as a whole.</p>
    <p>Please share with us your suggestions and help make this tool more comprehensive, effective and transparent.</p>
{% endblock container %}

