{% extends 'pages_base.html' %}

{% block container %}
    <p>The APIs for Open Aid Italia will be soon available.</p>
    <p>The APIs will allow any external software component to access all the data on Italian Development Cooperation Aid.</p>
    <p>The data will be available in json and html formats and the structure will be Iati standard compatible.</p>
    <p>In the meantime, you can already download all the data in CSV format by clicking <a
            href="{% url 'scarica_dati' %}">here</a>.</p>
{% endblock container %}

