{% extends 'pages_base.html' %}

{% block container %}
    <p>
        Agenzia Italiana per la Cooperazione Internazionale <br>
        Ufficio II - Relazioni Istituzionali, internazionali, comunicazione - Via Salvatore Contarini, 25 - 00135 Roma.
    </p>

    <p>E-mail: relazioniesterne@esteri.it</p>

    <p>
        Follow the Italian Development Cooperation also on

    </p>

    <ul>
        <li><a href="https://twitter.com/aics_it">Twitter: @aics_it</a></li>
        <li><a href="https://www.facebook.com/Agenzia-Italiana-per-la-Cooperazione-allo-Sviluppo-996004880482735/">Facebook</a></li>
        <li><a href="https://www.instagram.com/aics_cooperazione_it/">Instagram</a></li>
    </ul>
{% endblock container %}

