{% extends 'cooperazione_base.html' %}

{% block container %}

<p>
    La Dichiarazione del Millennio del 2000 stabilisce l’obiettivo centrale del
    dimezzamento della povertà assoluta entro il 2015. Tale obiettivo si articola
    in otto finalità, gli Obiettivi di Sviluppo del Millennio (Mdg), ai quali deve
    essere improntata l’azione di cooperazione a livello internazionale:
    lotta alla povertà e alla fame; educazione di base universale; eliminazione
    delle disparità tra i sessi; riduzione della mortalità infantile;
    miglioramento della salute materna; lotta contro l’Aids e le altre malattie infettive;
    protezione dell’ambiente; creazione di un partenariato globale per lo sviluppo.
</p>
<p>
    La Dichiarazione del Millennio del 2000 è stata una pietra miliare nella
    cooperazione internazionale e ha ispirato quegli sforzi verso lo sviluppo
    che hanno potuto migliorare la vita di centinaia di milioni di persone in tutto il mondo.
    I leader mondiali si sono anche impegnati a creare un ampio partenariato mondiale
    per lo sviluppo indispensabile per raggiungere questi obiettivi universali.
</p>
    
{% endblock container %}

