{% extends 'cooperazione_base.html' %}

{% block container %}
<p>
    Il canale multilaterale costituisce uno strumento essenziale nel perseguimento
    delle linee fondamentali della cooperazione allo sviluppo.
    Il sostegno finanziario assicurato dall’Italia agli Organismi multilaterali
    si colloca nel contesto degli obiettivi e delle strategie definiti
    dalla comunità internazionale nel quadro delle principali Conferenze organizzate
    dalle Nazioni Unite e dei Millennium Development Goals fissati
    dall’Assemblea Generale delle stesse Nazioni Unite nel 2000.
</p>
<p>
    L’adozione delleLinee guida della Cooperazione italiana allo Sviluppo
    per il triennio 2014-2016, accanto a priorità geografiche, ha comportato
    l’identificazione di settori prioritari per il canale multilaterale,
    quali l’agricoltura sostenibile e la sicurezza alimentare,
    lo sviluppo umano (salute, istruzione e formazione),
    il sostegno all’occupazione giovanile e femminile,
    la promozione dei diritti umani e delle politiche di genere.
</p>
<p>
    Per quanto riguarda il 2014, l’Ufficio multilaterale della Dgcs
    concentrerà la collaborazione su un numero più ristretto di Organismi o programmi
    internazionali principali, sia attraverso contributi volontari
    sia attraverso contributi obbligatori.
</p>
{% endblock container %}

