{% extends 'cooperazione_base.html' %}

{% block container %}
<p>
    Per “buone pratiche” si intendono i progetti che, ad una valutazione conclusiva,
    rappresentano un interessante ed efficace esempio da seguire in analoghe condizioni.
    Possono essere buone pratiche però anche particolari metodologie di lavoro,
    programmi complessi, articolati in diversi progetti, o anche linee guida capaci
    di delineare percorsi e modi di intervento su campi specifici.
    Non esiste in realtà un paradigma di buona pratica comune: esistono invece
    diversi parametri calibrati sulla specificità dei problemi.
    Molte delle migliori pratiche della Dgcs mettono in risalto
    l’importanza di promuovere l’uguaglianza tra i generi e l’inclusione sociale,
    altre pongono l’accento sulla protezione dei minori,
    altre ancora la prevenzione della trasmissione materno-infantile dell’Hiv.
</p>

{% endblock container %}

