{% extends 'cooperazione_base.html' %}

{% block container %}
    <p>
        La linea direttrice della Cooperazione italiana è quella dell'intensificazione della collaborazione e delle
        sinergie con il sistema-Italia, con riferimento a quattro pilastri fondamentali: la cooperazione orizzontale e
        il ruolo delle Ong; la cooperazione decentrata e il ruolo delle regioni e degli Enti Locali; le associazioni
        economiche di categoria; il sistema formativo e il ruolo delle Università e dei centri di eccellenza.
    </p>
    <p>
        Per quanto concerne le <b>Ong</b>, la collaborazione con il mondo del volontariato ha conosciuto un
        rafforzamento molto consistente che si sostanzia sia nel sostegno ai programmi promossi sia nella valorizzazione
        delle nostre Ong in seno ai programmi predisposti dalle Agenzie delle Nazioni Unite e dall’Unione Europea, in
        presenza o meno di un co-finanziamento della Cooperazione italiana. Il dialogo si articola organicamente
        attraverso una serie di tavoli di consultazione cui partecipano anche rappresentati delle principali
        associazioni di categoria delle Ong ed è focalizzato anche sulla preparazione delle Conferenze in sede di
        Nazioni Unite aventi per oggetto le politiche verso i Pvs.
    </p>
    <p>
        Quanto alla <b>cooperazione decentrata</b>, la continua crescita delle iniziative realizzate con le Regioni, le
        Provincie e i Comuni italiani rappresenta una grande opportunità e, nel contempo, costituisce un impegno
        complesso per la Cooperazione italiana. Il punto di riferimento per questa azione è costituito dal documento
        sulle “Linee di indirizzo e modalità di attuazione della collaborazione della Dgcs con le Regioni e gli Enti
        locali“, approvato nel marzo 2000 dal Comitato Direzionale per la Cooperazione allo Sviluppo. Sulla base delle
        “Linee di indirizzo” è stata sviluppata la collaborazione con l’Anci.
    </p>
    <p>
        La Cooperazione italiana riconosce il ruolo dei programmi di sviluppo delle Pmi e delle micro-imprese e
        collabora con le <b>associazioni di categoria</b> della piccola industria, del commercio e dell’artigianato. Su
        di un piano differente, ma altrettanto rilevante, si collocano i contatti con Confindustria e con il settore
        bancario e finanziario, il cui ruolo è determinante per il trasferimento di know-how e per il successo, ad
        esempio, delle iniziative congiunte tra i settori pubblico e privato.
    </p>
    <p>
        La Cooperazione italiana vanta una solida tradizione nel sostenere la collaborazione tra le <b>Università
        italiane</b> e le Università dei Pvs, in particolare quelle africane. Negli ultimi anni si è registrato un
        ampliamento degli interventi in direzione dei Paesi balcanici e mediterranei, dove i programmi della
        Cooperazione italiana allo sviluppo si integrano con quelli di cooperazione culturale. Lo sviluppo della
        cooperazione interuniversitaria e dei programmi di formazione dei Pvs viene promosso anche attraverso il
        finanziamento di corsi di specializzazione e di master, concordati tanto per i settori formativi quanto per la
        ripartizione geografica dei partecipanti. Sono inoltre assidui i rapporti con la Conferenza dei Rettori e con il
        Consorzio interuniversitario per la Cooperazione allo Sviluppo (Conics) per l’attuazione di programmi delle
        singole Università italiane in vari Paesi o aree d’intervento.
    </p>
{% endblock container %}

