{% extends 'cooperazione_base.html' %}

{% block container %}
    <p>
        Gli obiettivi generali della cooperazione italiana allo sviluppo e i principi guida a cui essa si ispira sono
        quelli fissati anche nel quadro di accordi e decisioni assunte a livello internazionale e comunitario. Tra
        queste, l'<b>Accordo di Cotonou</b> sul partenariato con i Pvs, siglato tra l'Ue e i Paesi Acp (Africa,
        Caraibi, Pacifico) nel 2000, che definisce i principi guida a cui i paesi membri della Ue si devono attenere
        nella realizzazione delle iniziative di cooperazione; le determinazioni del <b>Monterrey consensus</b>, emerse
        dalla “Conferenza internazionale sul Finanziamento dello Sviluppo” del 2002, che fanno riferimento in
        particolare alle fonti di finanziamento che dovranno concorrere al conseguimento degli obiettivi del Millennio e
        allo sviluppo di un ambiente favorevole per lo sviluppo del settore privato nei Pvs; le decisioni del <b>Consiglio
        Europeo di Barcellona</b> del 2002, che impegnano i paesi membri in un progressivo aumento dell'Aiuto pubblico
        allo sviluppo (Aps), sia a livello comunitario che di paese; le dichiarazioni di principio e gli impegni assunti
        nell'ambito del <b>World summit on the infomation society</b>, tenutosi a Ginevra nel 2003 e a Tunisi nel
        2005, con particolare riferimento al tema dell’e-government nei Pvs.
    </p>
{% endblock container %}

