{% extends 'cooperazione_base.html' %}

{% block container %}
    <p>
        Il processo preparatorio in sede Onu per la definizione della nuova Agenda sugli obiettivi di sviluppo post
        2015, anno di riferimento per il conseguimento degli Obiettivi di Sviluppo del Millennio, dovrebbe concludersi
        in occasione di un Vertice che il Segretario Generale dell’Onu dovrebbe convocare nel settembre 2015. Tale
        processo comprende anche quello lanciato alla Conferenza di Rio+20 per la definizione di obiettivi di sviluppo
        sostenibile (Sdgcs). Un aspetto fondamentale del processo è, inoltre, quello del rapporto tra definizione
        dell’Agenda post 2015 e le modalità del suo finanziamento.
    </p>
    <p>
        In tale contesto l’Italia partecipa attivamente al dibattito in corso sia sul piano internazionale sia su quello
        interno. In quest’ultimo è stato avviato un processo di consultazione nell’ambito del Tavolo interistituzionale
        sulla Cooperazione allo Sviluppo, con la partecipazione di tutti gli attori della cooperazione italiana. Sia la
        Presidenza italiana dell’Ue nel secondo semestre del 2014 sia l’Expo di Milano si svolgeranno nella fase
        cruciale del processo negoziale per la nuova Agenda.
    </p>
{% endblock container %}

