{% extends 'cooperazione_base.html' %}

{% block container %}
    <p>
        Le attività della Cooperazione italiana sono regolate dalla Legge 49 del 1987, con la quale è stata istituita
        l'attuale Direzione Generale per la Cooperazione allo Sviluppo (Dgcs) del Ministero degli Affari Esteri. Nel
        definire iniziative e Paesi in cui intervenire, la Cooperazione italiana tiene conto di linee guida e impegni
        concordati nel più ampio contesto internazionale. In termini di priorità le iniziative sono focalizzate
        principalmente sul continente africano (Africa sub-sahariana), sui Paesi nei quali sono stati assunti importanti
        impegni internazionali (Afghanistan, Libano) nonché in aree nelle quali la presenza del nostro Paese ha radici
        profonde (America Latina, Medio Oriente e Mediterraneo).
    </p>
    <p>In termini di aree tematiche e settori le priorità sono: ambiente e beni comuni, con particolare attenzione allo
        sviluppo rurale, all’agricoltura biologica o convenzionale, alla ricerca di fonti alternative e rinnovabili; le
        politiche di genere e in particolare l’empowerment delle donne, accanto ai tradizionali interventi sulla salute
        e sull’educazione. L’Aiuto pubblico allo sviluppo (Aps), in termini quantitativi, non è la fonte principale di
        finanziamento dello sviluppo. Apporti più consistenti derivano dalla mobilitazione delle risorse interne dei
        Pvs, dagli investimenti esteri, dalla partecipazione al commercio internazionale.
    </p>
    <p>
        L’Aps, in particolare nei Paesi meno avanzati, svolge peraltro un ruolo essenziale di sostegno agli sforzi fatti
        localmente per adeguare le istituzioni e i mercati, affinché sappiano cogliere le opportunità di sviluppo
        offerte dai processi di globalizzazione e, al tempo stesso, proteggere le fasce più deboli della popolazione. I
        partner con cui la Dgcs collabora per realizzare le iniziative finanziate sono: Ministeri, Enti pubblici
        centrali e locali, Università, Ong, imprese, Unione Europea, Organizzazioni internazionali e Paesi in via di
        sviluppo.
    </p>
{% endblock container %}

