{% extends 'cooperazione_base.html' %}

{% block container %}
    <p>
        Nello svolgimento delle sue attività la Cooperazione italiana segue un approccio ispirato ad alcuni principi
        fondamentali, tra cui quelli della <b>good governance</b> (rispetto dei diritti umani, Stato di diritto e trasparenza
        amministrativa), della coerenza tra le varie politiche connesse allo sviluppo e della sostenibilità del debito.
        Tra gli altri principi che la Dgcs persegue nello svolgimento delle sue attività, l’impegno per una promozione
        degli investimenti diretti esteri e per un coordinamento tra soggetti donatori nazionali e multilaterali, al
        fine di evitare scelte contraddittorie nella allocazione delle risorse.
    </p>
    <p>
        Altri principi di base sono quelli della collaborazione tra sistemi-paese tramite, in particolare, le Ong
        (cooperazione orizzontale), gli Enti locali (cooperazione decentrata), le imprese (multinazionali ma
        innanzitutto le Pmi), le istituzioni universitarie (cooperazione interuniversitaria), per trasferire know-how
        nei Pvs e per portare sul terreno risorse umane preziose ai fini della formazione e della <b>good governance</b>.
    </p>
    <p>
        Le linee programmatiche seguite dalla Cooperazione italiana allo sviluppo per concorrere all’attuazione di
        questi impegni sono articolate come segue: riduzione della povertà; Piano d’Azione per l’Africa; sviluppo
        sostenibile; lotta contro l’Aids, tubercolosi e malaria; educazione per tutti; sicurezza alimentare e lotta alla
        povertà rurale; l’e-government per lo sviluppo; diritti di bambini, adolescenti e giovani.
    </p>
{% endblock container %}

