{% extends 'cooperazione_base.html' %}

{% block container %}
    <p>
        La Cooperazione italiana fornisce assistenza alle popolazioni vittime di crisi umanitarie determinate da eventi
        catastrofici, siano essi di origine umana o naturale, con l’obiettivo di tutelare la vita, alleviare o prevenire
        le sofferenze e mantenere la dignità delle persone. La Dgcs si impegna nel fornire una risposta che sia rapida,
        efficace ed efficiente, nonché adeguata ai bisogni locali nelle tre fasi dell’aiuto umanitario: **prima
        emergenza** (relief); **emergenza** (recovery and rehabilitation); **post-emergenza** (Lrrd – Linking Relief and
        Rehabilitation to Development).
    </p>

    <p>
        Le azioni di assistenza umanitaria prestano particolare attenzione a quei settori ritenuti cruciali per la
        sopravvivenza ed il miglioramento delle condizioni essenziali di vita quali la sicurezza alimentare e l’accesso
        all’acqua, la riduzione del rischio di catastrofi, la protezione dei rifugiati e degli sfollati, la salute. Si
        pone contemporaneamente attenzione a tematiche trasversali quali la promozione della condizione femminile e la
        tutela dei gruppi vulnerabili (minori e persone con disabilità). La Cooperazione italiana ha inoltre approvato
        nel 2012 le Linee Guida sull'aiuto umanitario, previste nell’ambito del **Piano programmatico per l’efficacia
        degli aiuti** della Dgcs e predisposte in coordinamento con gli attori umanitari italiani. Le Linee Guida si
        basano sui Principi di riferimento della **Good Humanitarian Donorship** (Ghd) sull’azione umanitaria.
    </p>
{% endblock container %}

