{% extends 'cooperazione_base.html' %}

{% block container %}
    <p>
        Il tema dell’efficacia degli aiuti ha acquistato rilevanza strategica crescente negli anni grazie ad un processo
        iniziato a Roma nel 2003, proseguito con la Dichiarazione di Parigi del 2005 e con l' Accra Agenda for Action
        del 2008 e culminato con il Forum di alto livello sull'Efficacia degli aiuti di Busan, nel 2011. Il Forum ha
        fornito un nuovo orientamento e una nuova strategia alla cooperazione internazionale per lo sviluppo, segnando
        un ampliamento dell’approccio tradizionale della cooperazione internazionale fondato sulla dimensione Nord-Sud e
        definendo una nuova filosofia delle politiche internazionali per lo sviluppo che coinvolge la cooperazione
        Sud-Sud.
    </p>
    <p>
        Il documento conclusivo del Forum ha ribadito i punti di riferimento universali della lotta alla povertà e alla
        disuguaglianza e dell’impegno per una crescita sostenibile ed inclusiva nel rispetto dei diritti umani, dei
        valori democratici e dei principi del buon governo. L'impegno in questa Direzione si è concretizzato
        nell'attuazione del primo Piano programmatico sull'efficacia degli aiuti.
    </p>
    <p>
        Nell’ambito del Piano sono state realizzate una serie di attività volte a rendere l'azione della Cooperazione
        Italiana più rispondente ai principi ed alle procedure identificati a Parigi e ad Accra, tra cui: l’elaborazione
        e aggiornamento delle Linee guida settoriali; la semplificazione delle procedure; l’identificazione di un marker
        di efficacia per valutare tutte le iniziative di cooperazione bilaterale intergovernativa. La Cooperazione
        italiana ha curato la redazione del secondo Piano Efficacia (2011), a seguito del quale la Dgcs ha avviato un
        esercizio di programmazione Paese triennale che risponde a caratteristiche di sinteticità, trasparenza,
        realizzabilità, esaustività, armonizzazione e misurabilità.
    </p>
{% endblock container %}

