{% extends 'cooperazione_base.html' %}

{% block container %}
    <p>
        La nuova legge sulla cooperazione (la l. 125 del 2014) ridisegna completamente la governance della Cooperazione
        italiana. Istituisce la figura di un Vice ministro alla cooperazione, un tavolo di coordinamento tra i Ministeri
        (il Comitato interministeriale della cooperazione allo sviluppo) per assicurare maggiore “coerenza” all’azione
        dell’Italia in questo campo, individua la Cassa Depositi e Prestiti come vera e propria “banca dello sviluppo”
        italiana, dando alla cooperazione un suo strumento finanziario dedicato.
    </p>
    <p>Soprattutto la riforma dà vita all’Agenzia Italiana per la Cooperazione allo Sviluppo con l'ambizione di
        allineare l'Italia ai principali partner europei e internazionali nell'impegno per lo sviluppo. L'Agenzia è un
        modello impiegato in tutti i principali paesi europei e deve rispondere all'esigenza di una cooperazione più
        professionale e innovativa, con il necessario grado di flessibilità degli strumenti in uno scenario che è in
        continuo mutamento. L'Agenzia ha la sua sede centrale a Roma, una sede a Firenze e 17 sedi all'estero per il
        monitoraggio, l'implementazione e l'analisi sul terreno delle esigenze di sviluppo dei Pesi partner.
        Il compito dell'Agenzia è quello di svolgere le attività di carattere tecnico-operativo connesse alle fasi di
        istruttoria, formulazione, finanziamento, gestione e controllo delle iniziative di cooperazione internazionale.
    </p>
    <p>In termini di aree tematiche e settori le priorità sono: ambiente e beni comuni, con particolare attenzione allo
        sviluppo rurale, all’agricoltura biologica o convenzionale, alla ricerca di fonti alternative e rinnovabili; le
        politiche di genere e in particolare l’empowerment delle donne, accanto ai tradizionali interventi sulla salute
        e sull’educazione. L’Aiuto pubblico allo sviluppo (Aps), in termini quantitativi, non è la fonte principale di
        finanziamento dello sviluppo. Apporti più consistenti derivano dalla mobilitazione delle risorse interne dei
        Pvs, dagli investimenti esteri, dalla partecipazione al commercio internazionale.
    </p>
    <p>
        L’Aps, in particolare nei Paesi meno avanzati, svolge peraltro un ruolo essenziale di sostegno agli sforzi fatti
        localmente per adeguare le istituzioni e i mercati, affinché sappiano cogliere le opportunità di sviluppo
        offerte dai processi di globalizzazione e, al tempo stesso, proteggere le fasce più deboli della popolazione. I
        partner con cui la Dgcs collabora per realizzare le iniziative finanziate sono: Ministeri, Enti pubblici
        centrali e locali, Università, Ong, imprese, Unione Europea, Organizzazioni internazionali e Paesi in via di
        sviluppo.
    </p>
{% endblock container %}

