{% extends 'pages_base.html' %}

{% block container %}
    <p>In un mondo sempre più interconnesso investire nella crescita sostenibile dei Paesi partner, contribuendo alla
        eradicazione della loro povertà, è un obbligo morale dei Paesi più sviluppati ma anche un investimento per il
        futuro della comunità internazionale nel suo complesso. Le decisioni politiche sull’impegno dell’Italia
        dovrebbero scaturire da un consenso nazionale, nella consapevolezza che il benessere e la vita dignitosa di
        ognuno di noi non possa coesistere con la povertà e la discriminazione degli altri. Questo consenso deve basarsi
        sulla piena conoscenza da parte di un ampio pubblico delle strategie, dei programmi, delle attività svolte, dei
        fondi erogati e dei risultati raggiunti.</p>
    <p>Da questa idea nasce il Portale Open Aid, che mette a disposizione di tutti i dati e le informazioni sull’Aiuto
        Pubblico dell’Italia ai Paesi Partner proveniente da istituzioni pubbliche (“Aiuto Pubblico allo Sviluppo”),
        sulla destinazione e l’impiego dei fondi per le diverse iniziative a partire dal 2004.</p>
    <p>In futuro il portale potrà fornire informazioni dettagliate anche su fondi a dono provenienti da soggetti privati
        (“Private Charitable Flows”) e su fondi non concessionali provenienti da istituzioni pubbliche (“Other Official
        Flows”) o da soggetti privati (“Private Flows at Market Terms”).</p>
    <p>La frammentazione del sistema di cooperazione italiano, differenziato in modo non molto dissimile da quello di
        altri Paesi OCSE, ha reso sempre complessi e particolarmente onerosi i tentativi per realizzare una piattaforma
        di informazioni su questa materia che fosse esaustiva, affidabile ed aggiornata.</p>
    <p>La Direzione Generale per la Cooperazione allo Sviluppo del Ministero degli Affari Esteri (DGCS) ritiene
        prioritario ed irrinunciabile dotare il Paese di un simile strumento, anche per rispettare l’impegno sulla piena
        trasparenza assunto in occasione della Conferenza internazionale sull’Efficacia per lo Sviluppo di Busan. Ha
        deciso pertanto di procedere nella realizzazione di una banca dati all’altezza degli standard internazionali
        (IATI) che, pur rigorosa, sia di facile accesso e comprensione anche per i non addetti ai lavori.</p>
    <p>La piattaforma verrà gradualmente arricchita di nuovi e più articolati contenuti, incluse immagini ed
        aggiornamenti sulle iniziative in corso. Inizialmente essa conterrà in prevalenza dati ed informazioni
        sull’Aiuto Pubblico allo Sviluppo (ODA), cioè l’aiuto fornito dalle Amministrazioni Pubbliche italiane sia
        direttamente che attraverso le Organizzazioni Internazionali. Nelle fasi successive di evoluzione, il sistema
        verrà aperto alla collaborazione delle Organizzazioni non governative e dei privati per poter fornire quanto
        prima un quadro esaustivo dell’Aiuto per lo Sviluppo dell’intero Sistema Italia.</p>
    <p>Si auspica una fattiva collaborazione degli utenti di questa Piattaforma, sia per correggere eventuali
        discrepanze che potrebbero emergere soprattutto nella fase di lancio sia per rendere, attraverso i loro
        suggerimenti, questo strumento più completo, efficace e trasparente.</p>
{% endblock container %}

