{% extends 'pages_base.html' %}

{% block container %}

    <p>
        Redazione Portale Cooperazione Italiana allo Sviluppo,
        c/o Unità Tecnica Centrale Dgcs, Via Salvatore Contarini, 25 - 00135 Roma.
    </p>

    <p>E-mail: redazione.cooperazione@esteri.it</p>

    <p>Tel. 06 3691.6316</p>

    <p>Per segnalare corsi e master scrivere a: infocorsi.cooperazione@esteri.it</p>

    <p>
        La Cooperazione italiana è anche sui Social networks:
    </p>

    <ul>
        <li>su <a href="https://www.youtube.com/user/cooperazioneitaliana">YouTube</a></li>
        <li>su <a href="https://twitter.com/cooperazione_it">Twitter: @cooperazione_it</a></li>
        <li>su <a href="https://www.facebook.com/cooperazioneitalianaallosviluppo">Facebook</a></li>
    </ul>

{% endblock container %}

