{% extends 'pages_base.html' %}

{% block container %}
    <p>Sono disponibili in formato aperto i dati sulle iniziative della cooperazione italiana allo sviluppo per quanto riguarda gli aiuti bilaterali e multi-bilaterali.</p>
    <p>E' possibile scaricare un file per ogni anno e il file con la delle linee guida dell'OCSE.</p>
    <p>A breve inoltre saranno disponibili le Api (Application Programming Interface) compatibili con lo standard IATI.</p>
    <br/>
    <p>Tutti i dati sono rilasciati con licenza CC BY-SA 3.0 e in formato CSV (leggibile da Excel).</p>
{% endblock container %}

