{% extends 'pages_base.html' %}

{% block container %}
    <p>
        Il Portale Open Aid mette a disposizione di tutti i dati e le informazioni sull’Aiuto dell’Italia ai Paesi
        Partner, proveniente sia da istituzioni pubbliche (Official Development Assistance and Other Official Flows) che
        da soggetti privati (Private Charitable Flows and Private Flows at Market Terms).
    </p>

    <p>
        La frammentazione del sistema di cooperazione italiano, differenziato in modo non molto dissimile da quello di
        altri Paesi OCSE, ha reso sempre complessi e particolarmente onerosi i tentativi per realizzare una piattaforma
        di informazioni su questa materia che fosse esaustiva, affidabile ed aggiornata.
    </p>

    <p>
        La Direzione Generale per la Cooperazione allo Sviluppo del Ministero degli Affari Esteri (DGCS) ritiene che sia
        comunque prioritario ed irrinunciabile dotare il Paese di un simile strumento, anche per rispettare l’impegno
        sulla piena trasparenza assunto in occasione della Conferenza internazionale sull’Efficacia per lo Sviluppo di
        Busan. Ha deciso pertanto di procedere nella realizzazione di una banca dati che fosse all’altezza degli
        standard internazionali (IATI) e che, pur rigorosa, fosse di facile accesso e comprensione per tutti, anche per
        i non addetti ai lavori.
    </p>

    <p>
        La DGCS è convinta che in un mondo sempre più globalizzato investire nella crescita sostenibile dei Paesi
        Partner, contribuendo alla eradicazione della loro povertà, sia un obbligo morale dei Paesi più sviluppati ma
        anche un investimento per il futuro della comunità internazionale nel suo complesso. Le decisioni politiche
        sull’impegno dell’Italia dovrebbero scaturire da un consenso nazionale, nella consapevolezza che il benessere e
        la vita dignitosa di ognuno di noi non possa coesistere con la povertà e la discriminazione degli altri. Questo
        consenso deve basarsi sulla piena conoscenza da parte di un ampio pubblico delle strategie, dei programmi, delle
        attività svolte, dei fondi erogati e, soprattutto, dei risultati raggiunti.
    </p>

    <p>
        La piattaforma verrà gradualmente arricchita di nuovi e più articolati contenuti. Inizialmente essa conterrà in
        prevalenza dati ed informazioni sull’Aiuto Pubblico allo Sviluppo (ODA), cioè l’aiuto fornito dalle
        Amministrazioni Pubbliche italiane sia direttamente che attraverso le Organizzazioni Internazionali. Si confida
        nella piena collaborazione delle Organizzazioni non governative e dei privati per poter fornire quanto prima un
        quadro esaustivo dell’Aiuto per lo Sviluppo dell’intero Sistema Italia.
    </p>

    <p>
        Si auspica una fattiva collaborazione degli utenti di questa Piattaforma, sia per correggere eventuali
        discrepanze che potrebbero emergere soprattutto nella fase di lancio sia per rendere, attraverso i loro
        suggerimenti, questo strumento più completo, efficace e trasparente.
    </p>

{% endblock container %}

