{% extends 'pages_base.html' %}

{% block container %}

    <p>
        INFORMATIVA PRIVACY PER L’UTILIZZO DEI COOKIE NEL SITO OPENAID.ESTERI.IT<br/>
        La presente ‘cookie policy’ è relativa al sito Open Aid Italia (“openaid.esteri.it”).
    </p>

    <p>
        Il presente sito utilizza cookie per garantire il corretto funzionamento delle procedure e migliorare l'esperienza d'uso dei propri visitatori.
    </p>
    <p>
    Questa pagina fornisce informazioni dettagliate sull'uso dei cookie, su come sono utilizzati dal nostro sito e su come gestirli.
    </p>
    <p>
    Quanto sopra in attuazione del provvedimento del Garante per la protezione dei dati personali denominato "Individuazione delle modalità semplificate per l'informativa e l'acquisizione del consenso per l'uso dei cookie" (<a href="http://www.garanteprivacy.it/web/guest/home/docweb/-/docweb-display/docweb/3118884">http://www.garanteprivacy.it/web/guest/home/docweb/-/docweb-display/docweb/3118884</a>), registro dei provvedimenti n. 229 dell'8 maggio 2014) e nel rispetto dell'art. 13 del codice privacy (D.Lgs. n. 196/2003).
    </p>
    <p>
    I cookie sono piccoli file di testo inviati all'utente dal sito web visitato. Tramite questi file vengono memorizzate sul dispositivo dell’utente informazioni da riutilizzare nel corso della medesima visita al sito (cookie di sessione) o in seguito, anche a distanza di giorni (cookie persistenti). I cookie vengono memorizzati, in base alle preferenze dell'utente, dal singolo browser sullo specifico dispositivo utilizzato (computer, tablet, smartphone, ecc.).
    </p>
    <p>
    I cookie sono utilizzati per diverse finalità a seconda della loro tipologia: alcuni sono strettamente necessari per la corretta funzionalità di un sito web (cookie tecnici), mentre altri hanno scopi diversi come garantire la sicurezza interna, amministrare il sistema, effettuare analisi statistiche, comprendere quali sono le sezioni del sito che interessano maggiormente gli utenti o offrire una visita personalizzata del sito.
    </p>
    <p>
    L’accesso ad una o più pagine del sito può generare i seguenti tipi di cookies:
    </p>
    <p>
    1) Cookie tecnici&nbsp; -&nbsp;
    Il sito Open Aid Italia utilizza cookie ‘di sessione’ per garantire un’efficace navigazione e fruizione del sito web. I cookie ‘di sessione’ non vengono memorizzati in modo persistente sul computer dell’utente e svaniscono con la chiusura del browser ed il loro uso è strettamente limitato alla trasmissione di identificativi di sessione (costituiti da numeri casuali generati dal server). L’uso di questi cookie non consente l’acquisizione di dati personali identificativi dell’utente.
    </p>
    <p>
    I cookie ‘persistenti’, che vengono memorizzati sui dispositivi degli utenti tra le sessioni del browser consentendo di ricordare le preferenze o le azioni dell'utente in un sito, non vengono utilizzati nel sito Open AID.
    </p>
    <p>
    2)Cookie di terzi parti&nbsp; -&nbsp;
    I cookie installati sul sito Open Aid Italia per i servizi garantiti da terze parti sono riconducibili ai siti e servizi sotto indicati, a titolo puramente esemplificativo e non esaustivo, ai quali si rimanda per la consultazione delle relative policy e informative:
    </p>
    <p>
    Google / Google Analytics<br/>
    <a href="http://www.google.com/policies/technologies/cookies/">http://www.google.com/policies/technologies/cookies/</a>
    <a href="http://www.google.com/intl/it_ALL/analytics/learn/privacy.html">http://www.google.com/intl/it_ALL/analytics/learn/privacy.html</a>
    </p>
    <p>
    Addthis<br/>
    <a href="http://www.addthis.com/privacy/privacy-policy">http://www.addthis.com/privacy/privacy-policy</a>
    </p>
    <p>
    I siti, quali intermediari tecnici tra le terze parti e gli utenti, forniscono, con le modalità previste dal Garante, la necessaria informativa al momento dell’accesso ai suddetti social e applicazioni multimediali, mediante un messaggio contenente una prima informativa “breve”, la richiesta di consenso all’uso dei cookie, un link per accedere ad un’informativa più estesa e alla possibilità di negare il consenso all’istallazione dei cookie.
    </p>
    <p>
    Si precisa che l’eventuale prosecuzione della navigazione ignorando il banner informativo comporta l’implicito consenso all’uso dei cookie in argomento.
    </p>
    <p>
    Disabilitare i cookie (opt-out) sul proprio dispositivo
    </p>
    <p>
    La maggior parte dei browser accetta i cookies automaticamente, ma è possibile rifiutarli. Se non si desidera ricevere o memorizzare i cookie, si possono modificare le impostazioni di sicurezza del browser utilizzato (ad es.: Internet Explorer, Google Chrome, Mozilla Firefox, Safari Opera, ecc.). Ciascun browser presenta procedure diverse per la gestione delle impostazioni. Indicazioni circa le modalità di gestione dei cookie possono essere acquisite consultando i siti ufficiali dei browser.
    </p>
    <p>
    Di seguito vengono riportati i passi da seguire per gestire i cookie da alcuni dei browser più utilizzati:
    </p>
    <p>
    Chrome: <a href="https://support.google.com/chrome/answer/95647?hl=it-IT&hlrm=fr&hlrm=en">https://support.google.com/chrome/answer/95647?hl=it-IT&hlrm=fr&hlrm=en</a>
    </p>
    <p>
    Firefox: <a href="http://support.mozilla.org/it-IT/kb/enable-and-disable-cookies-website-preferences">http://support.mozilla.org/it-IT/kb/enable-and-disable-cookies-website-preferences</a>
    </p>
    <p>
    Explorer: <a href="http://windows.microsoft.com/it-it/windows7/block-enable-or-allow-cookies">http://windows.microsoft.com/it-it/windows7/block-enable-or-allow-cookies</a>
    </p>
    <p>
    Safari: <a href="https://support.apple.com/it-it/HT201265">https://support.apple.com/it-it/HT201265</a>
    </p>
    <p>
    Opera: <a href="http://help.opera.com/Windows/10.00/it/cookies.html" >http://help.opera.com/Windows/10.00/it/cookies.html</a>
    </p>
    <p>
    Per saperne di più riguardo ai cookie e su come gestire o disabilitare quelli di terze parti o di marketing/retargeting, visitate il sito <a href="http://www.youronlinechoices.com/it/">http://www.youronlinechoices.com/it/</a>
    </p>
    <p>
    La presente informativa potrà essere da noi modificata in qualsiasi momento. Vi preghiamo di verificare di volta in volta la data dell’ultimo aggiornamento riportata in cima a questa pagina.
    </p>
    <p>
    Questa pagina è visibile a partire dall’informativa breve e mediante link nel footer posto in tutte le pagine del sito ai sensi dell’art. 122 secondo comma del D.lgs. 196/2003 e a seguito delle modalità semplificate per l'informativa e l’acquisizione del consenso per l’uso dei cookie pubblicata sulla Gazzetta Ufficiale n. 126 del 3 giugno 2014 e relativo registro dei provvedimenti n. 229 dell’8 maggio 2014.
    </p>
{% endblock container %}

