{% extends 'pages_base.html' %}
{% load static %}

{% block container %}
    <p>Sono disponibili in formato aperto i dati sulle iniziative della cooperazione italiana allo sviluppo per quanto riguarda gli aiuti bilaterali e multi-bilaterali.</p>
    <p>E' possibile scaricare un file per ogni anno e il file con la delle linee guida dell'OCSE.</p>
    <p>A breve inoltre saranno disponibili le Api (Application Programming Interface) compatibili con lo standard IATI.</p>
    <ul>
        {% for year in years %}
        <li><a href="{% get_media_prefix %}crs/CRS_{{ donor_code }}_{{ year }}.csv.zip">CRS_{{ donor_code }}_{{ year }}.csv.zip</a></li>
        {% endfor %}
    </ul>
    <br/>
    <p>Tutti i dati sono rilasciati con licenza CC BY-SA 3.0 e in formato CSV (leggibile da Excel).</p>
{% endblock container %}

