{% extends 'pages_base.html' %}

{% block container %}
    
<p>
    Il Ministero degli Affari Esteri non potrà essere ritenuto responsabile
    nei confronti degli utenti dei danni di qualsiasi natura causati
    dall'utilizzo dei siti, dall'impossibilità di accedervi o dall'utilizzazione
    delle notizie in essi contenute. Il Ministero degli Affari Esteri
    non può garantire la completezza di notizie e dati fornite sui suoi siti.
</p>
<p>
    Il Ministero degli Affari Esteri non ha alcuna responsabilità per quanto
    riguarda i siti esterni, ai quali è possibile accedere tramite collegamenti
    posti all'interno dei suoi siti, forniti come semplice servizio agli
    utenti della rete e senza che ciò implichi l'approvazione dei siti stessi.
</p>
<p>
    I dati che pervengano ai siti del Ministero, spontaneamente dagli utenti
    di esso o perché richiesti nel corso dei collegamenti, saranno sottoposti
    al trattamento previsto dalla normativa sulla privacy.
</p>
<p>
    I dati personali sono trattati solo per il tempo necessario a conseguire
    gli scopi per cui sono stati raccolti.
</p>
<p>
    Gli utenti che abbiano fornito i propri dati ai siti del Ministero avranno
    il diritto in ogni momento di controllare l'esattezza di essi ed eventualmente
    ritirare la disponibilità a che vengano usati dallo stesso Ministero.
</p>

{% endblock container %}

