{% extends 'pages_base.html' %}

{% block container %}
<dl id="acronyms">
    <dt><a href="http://www.icrc.org/">CICR/ICRC</a> - Internazionale della Croce Rossa</dt>
    <dd>Il Comitato Internazionale della Croce Rossa (Cicr) è un Organismo a
        carattere umanitario, dotato di personalità giuridica internazionale. Esso forma, insieme alla Federazione
        Internazionale della Croce Rossa e Mezzaluna Rossa (Ficross) ed alle Società Nazionali della Croce Rossa, il
        Movimento Internazionale della Croce Rossa e Mezzaluna Rossa, il cui statuto consente di intervenire anche nelle
        situazioni di “crisi umanitaria” non coperte da Convenzioni. Il Cicr coordina e dirige le attività
        internazionali di soccorso del Movimento nelle situazioni di conflitto.
    </dd>

    <dt><a href="http://www.ciheam.org/">CIHEAM/IAM</a> - Istituto Agronomico Mediterraneo</dt>
    <dd>Il Ciheam è stato fondato a Parigi nel 1962 da sette Paesi europei, con il
        compito di formare quadri dirigenti nei Paesi mediterranei nel settore agricolo. Per attuare la sua missione, il
        Ciheam ha fondato l’Istituto Agronomico Mediterraneo (Iam) di Bari e lo Iam di Montpellier (Francia), a cui si
        sono aggiunti successivamente lo Iam di Saragozza (Spagna) e lo Iam di Chania (Grecia). L’ Istituto Agronomico
        Mediterraneo di Bari, la struttura operativa italiana del Ciheam, è un centro di formazione postuniversitaria,
        ricerca scientifica applicata e progettazione di interventi.
    </dd>

    <dt><a href="http://www.fao.org/index_en.htm">FAO</a> -
        Organizzazione delle Nazioni Unite per l'Alimentazione e l'Agricoltura</dt>
    <dd>La Fao è la più importante
        organizzazione mondiale impegnata nella lotta alla fame a livello globale. Fornisce assistenza ai Paesi in via
        di sviluppo per modernizzare e migliorare in un’ottica di sostenibilità le pratiche agricole, forestali e di
        pesca.
    </dd>

    <dt><a href="http://www.theglobalfund.org/en/">GFATM</a> -
        Fondo Globale per la Lotta all’Aids, Tubercolosi e Malaria</dt>
    <dd>Iniziativa di partenariato pubblico-privato cui
        aderiscono 44 Stati, organismi internazionali e associazioni private. È nato su impulso della Presidenza
        italiana del G8 del 2001. Nel dicembre 2013 l’Italia ha annunciato un pledge di 100 milioni di euro per il
        triennio 2014-2016.
    </dd>

    <dt><a href="http://www.globalpartnership.org/">GPE</a> -
        Global Partnership For Education</dt>
    <dd>la Global Partnership For Education (Gpe) è il principale meccanismo multilaterale che mira in maniera specifica
        a sostenere, dal punto di vista tecnico e finanziario, l’attuazione degli Obiettivi del Millennio n.2 e 3. Essa
        opera attraverso il coordinamento e l’armonizzazione dell'azione dei partner, al livello centrale e al livello
        periferico, in stretto collegamento con le istituzioni del paese beneficiario, con l’obiettivo di definire e
        attuare politiche nel settore dell’istruzione orientate ai risultati e di catalizzare flussi finanziari
        aggiuntivi a supporto dei bilanci settoriali.
    </dd>

    <dt><a href="http://www.idlo.int/">IDLO</a> -
        International Development Law Organization</dt>
    <dd>L’International Development Law Organization è un’organizzazione intergovernativa dedicata alla promozione dello
        Stato di Diritto e delle pratiche di buon governo nei Paesi in via di sviluppo, in transizione economica e nei
        Paesi reduci da conflitti armati o da gravi disastri ambientali.
    </dd>

    <dt><a href="http://www.ifad.org/">IFAD</a> -
        Fondo Internazionale per lo Sviluppo Agricolo</dt>
    <dd>L’Ifad, agenzia specializzata delle Nazioni Unite, fu fondata
        come istituto finanziario internazionale nel 1977 con l'obiettivo di combattere la fame e la povertà attraverso
        lo sviluppo del settore agricolo e di migliorare le condizioni di vita delle popolazioni rurali nei Pvs
        promuovendo uno sviluppo rurale sostenibile. L'Ifad fornisce risorse finanziarie ai Paesi beneficiari attraverso
        l'erogazione di prestiti a condizioni agevolate e/o donazioni per il finanziamento di progetti di sviluppo
        rurale formulati congiuntamente dall'Ifad stesso e dai governi beneficiari, con il sostegno dei Paesi donatori.
    </dd>

    <dt><a href="http://www.iila.org/IILA/preparePage.do?lang=it">IILA</a> -
        Istituto Italo Latino Americano</dt>
    <dd>L’Istituto Italo-Latino Americano è un organismo internazionale con sede a
        Roma, di cui fanno parte, oltre all’Italia, le venti Repubbliche dell’America Latina. L’obiettivo è sviluppare e
        coordinare la ricerca e la documentazione sui problemi e le prospettive dei Paesi membri nel campo culturale,
        scientifico, economico, tecnico e sociale e individuare le possibilità concrete di scambio, assistenza reciproca
        e azione comune.
    </dd>

    <dt><a href="http://www.bioversityinternational.org/">BIOVERSITY</a> -
        Bioversity International</dt>
    <dd>Bioversity International appartiene alla rete dei Centri di ricerca internazionali del CGIAR (Consultative Group
        for International Agricultural Research). L’Organizzazione è dedita ad attività di promozione dello sviluppo
        sostenibile, attraverso la ricerca nel campo della biodiversità in agricoltura, che costituisce fattore
        indispensabile per la sicurezza alimentare e la riduzione della povertà, la conservazione delle specie vegetali
        e la valorizzazione delle stesse.
    </dd>

    <dt><a href="http://www.ilo.org/public/italian/region/eurpro/rome/index.htm">OIL/ILO</a> -
        Organizzazione Internazionale del Lavoro</dt>
    <dd>L’Ilo, che ha nella città di Torino il proprio Centro di Formazione
        Internazionale, si occupa di promuovere i diritti dei lavoratori, incoraggiare l’occupazione in condizioni
        dignitose, migliorare la sicurezza sul lavoro, la protezione sociale e rafforzare il dialogo sulle problematiche
        del lavoro.
    </dd>

    <dt><a href="http://www.iom.int/jahia/page1.html">OIM/IOM </a> -
        Organizzazione Internazionale per le Migrazioni</dt>
    <dd>Fondata nel 1951, l’Organizzazione Internazionale per le
        Migrazioni (Oim) è il principale organismo intergovernativo attivo a livello internazionale nel fornire
        assistenza ai flussi migratori e nel promuovere la cooperazione internazionale in materia di migrazioni.
    </dd>

    <dt><a href="http://www.who.int/en/">OMS/WHO</a> -
        Organizzazione Mondiale della Sanità</dt>
    <dd>L’Oms è l’agenzia delle Nazioni Unite, fondata nel 1948, con l’obiettivo
        fondamentale di migliorare la qualità della salute a livello globale, attraverso il sostegno ai sistemi
        sanitari, il debellamento delle malattie endemiche, la promozione di politiche per una più sana nutrizione,
        un’adeguata igiene e migliori condizioni nell’ambiente di lavoro.
    </dd>

    <dt><a href="http://www.wfp.org/italia/">PAM/WFP</a> -
        Programma Alimentare Mondiale</dt>
    <dd>Il Pam, che ha sede a Roma, è la più grande organizzazione umanitaria al mondo,
        impegnata nella fornitura di beni alimentari nel contesto di crisi umanitarie determinate da conflitti o da
        disastri naturali.
    </dd>

    <dt><a href="http://www.undesa.it/">UNDESA</a> -
        Dipartimento delle Nazioni Unite per gli Affari Sociali ed Economici</dt>
    <dd>L’Undesa è il principale organo del
        Segretariato delle Nazioni Unite in materia di affari economici, sociali e ambientali, dedito ad attività di
        cooperazione allo sviluppo. La collaborazione tra l’Italia e Undesa si realizza soprattutto nei settori delle
        risorse umane e del rafforzamento istituzionale.
    </dd>

    <dt><a href="http://www.undp.org/">UNDP</a> - Programma delle Nazioni Unite per lo Sviluppo</dt>
    <dd>Il Programma delle Nazioni Unite per lo Sviluppo è stato creato
        dall’Assemblea Generale delle Nazioni Unite nel 1965, per svolgere la funzione di agenzia centrale di
        finanziamento e coordinamento delle attività di cooperazione allo sviluppo del sistema delle Nazioni Unite.
        Fornisce sostegno ai Paesi in via di sviluppo e in transizione per la definizione di strategie e di politiche di
        sviluppo ma anche per il rafforzamento delle capacità nazionali e per il coordinamento dell'aiuto esterno,
        nonché per la cooperazione Sud-Sud.
    </dd>

    <dt><a href="http://www.unfpa.org/">UNFPA</a> -
        Fondo delle Nazioni Unite per la Popolazione</dt>
    <dd>Il Fondo delle Nazioni Unite per le Popolazioni è un’agenzia di
        sviluppo che promuove a livello internazionale le conoscenze in materia di popolazione e la consapevolezza delle
        ricadute sociali, economiche e ambientali delle dinamiche demografiche. Essa sostiene, inoltre, il rafforzamento
        delle capacità di risposta ai bisogni e fornisce assistenza in materia ai paesi in via di sviluppo.
    </dd>

    <dt>Programma Congiunto <a href="http://www.unfpa.org/">UNFPA</a> e <a href="http://www.unicef.it/">UNICEF</a> per l’eliminazione delle mutilazioni genitali
    femminili.</dt>
    <dd>Il programma “Female Genital Mutilation/Cutting: accelerating change” è un’iniziativa congiunta di Unfpa
    e Unicef, avviata nel 2007 con l’obiettivo di eliminare, in diciassette Paesi africani, la pratica delle mutilazioni
    genitali femminili.
    </dd>

    <dt><a href="http://www.unhcr.it/">UNHCR</a> -
        Alto Commissariato per i Rifugiati delle Nazioni Unite</dt>
    <dd>L’Alto Commissariato delle Nazioni Unite per i
        Rifugiati fornisce protezione internazionale e assistenza materiale ai rifugiati e persegue soluzioni durevoli
        alla loro drammatica condizione.
    </dd>

    <dt><a href="http://www.unicef.it/">UNICEF</a> -
        Fondo delle Nazioni Unite per l'Infanzia</dt>
    <dd>L’Unicef è la principale organizzazione a livello mondiale attiva
        nella protezione dei diritti dell'infanzia e nel fornire assistenza agli Stati nell’attuazione di politiche
        mirate a soddisfare le necessità primarie dei minori. La Convenzione sui Diritti dell’Infanzia e
        dell’Adolescenza è il quadro di riferimento fondamentale per le attività dell’Organizzazione.
    </dd>

    <dt><a href="http://www.unicri.it/">UNICRI</a> -
        Istituto di Ricerca Interregionale delle Nazioni Unite per il Crimine e la Giustizia</dt>
    <dd>Fondato nel 1967,
        l’Unicri, che ha la propria sede a Torino, è l’Istituto delle Nazioni Unite preposto alla ricerca, alla
        formazione, alla elaborazione di programmi di cooperazione tecnica e alla diffusione delle informazioni in
        materia di prevenzione e contrasto della criminalità.
    </dd>

    <dt><a href="http://www.unido.it/">UNIDO</a> -
        Organizzazione delle Nazioni Unite per lo Sviluppo Industriale</dt>
    <dd>L’Unido è dal 1985 l’Agenzia Specializzata
        delle Nazioni Unite incaricata di promuovere l’industrializzazione sostenibile nei Paesi in via di Sviluppo e
        nei Paesi in transizione.
    </dd>

    <dt><a href="http://www.unifem.org/">UNWOMEN</a> -
        United Nations Entity for Gender Equality and the Empowerment of Women</dt>
    <dd>La United Nations Entity for Gender Equality and the Empowerment of Women è il Programma delle
        Nazioni Unite incaricato di promuovere l’uguaglianza di genere e l’empowerment delle donne.
    </dd>

    <dt><a href="http://www.un.org/unrwa/english.html">UNRWA</a> -
        United Nations Relief and Works Agency for Palestine Refugees in the Near East</dt>
    <dd>la United Nations Relief and Works Agency for Palestine Refugees in the Near East è un’Agenzia delle Nazioni
        Unite, istituita nel dicembre 1949 dall’Assemblea Generale per provvedere ai bisogni di base dei rifugiati
        palestinesi. Essa fornisce principalmente servizi di istruzione di base e assistenza sanitaria gratuita, con
        un’attenzione particolare alla salute materno-infantile.
    </dd>

    <dt><a href="http://www.unssc.org/web1/">UNSSC</a> -
        United Nations System Staff College</dt>
    <dd>L’Unssc, che ha la propria sede a Torino, è l’Istituto dell’Onu
        preposto alla formazione e all’aggiornamento del personale dell’intero sistema delle Nazioni Unite, con speciale
        riguardo alle tematiche inerenti la Cooperazione allo sviluppo.
    </dd>


</dl>

{% endblock container %}

