<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">{{ activity.title|default:'<< EMPTY TITLE >>'|safe }} <small>#{{ activity.pk }}</small></h1>
    </div>
    <table class="table table-default">
        <thead>
        <tr>
            <th>Year</th>
            <th>Type</th>

            <th>Outflow</th>
            <th>FTC</th>
            <th>PBA</th>
            <th>Investment</th>

            <th>Commitment</th>
            <th>Disboursment</th>
            <th>Currency</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ activity.year }}</td>
                <td>{{ activity.get_report_type_display }}</td>

                <td>{{ activity.get_outflow_display }}</td>
                <td>{{ activity.is_ftc }}</td>
                <td>{{ activity.is_pba }}</td>
                <td>{{ activity.is_investment }}</td>

                <td>{{ activity.usd_commitment }}</td>
                <td>{{ activity.usd_disbursement }}</td>
                <td>{{ activity.get_currency_display }}</td>

            </tr>
        </tbody>
    </table>

    <div class="panel-body">

        <div class="row">

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Code lists</h2>
                    </div>
                    <dl class="dl-horizontal">
                        <dt>Agency</dt>
                        <dd>{{ activity.agency }}
                        <dt>Aid Type</dt>
                        <dd>{{ activity.aid_type }}</dd>
                        <dt>Finance Type</dt>
                        <dd>{{ activity.finance_type }}</dd>
                        <dt>Channel</dt>
                        <dd>{{ activity.channel }}</dd>
                        <dt>Purpose</dt>
                        <dd>{{ activity.purpose }}</dd>
                        <dt>Flow</dt>
                        <dd>{{ activity.flow }}</dd>

                    </dl>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Markers</h2>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>biodiversity</dt>
                            <dd>{{ activity.markers.get_biodiversity_display}}
                            <dt>climate_adaptation</dt>
                            <dd>{{ activity.markers.get_climate_adaptation_display}}</dd>
                            <dt>climate_mitigation</dt>
                            <dd>{{ activity.markers.get_climate_mitigation_display}}</dd>
                            <dt>desertification</dt>
                            <dd>{{ activity.markers.get_desertification_display}}</dd>
                            <dt>environment</dt>
                            <dd>{{ activity.markers.get_environment_display}}</dd>
                            <dt>gender</dt>
                            <dd>{{ activity.markers.get_gender_display}}</dd>
                            <dt>pd_gg</dt>
                            <dd>{{ activity.markers.get_pd_gg_display}}</dd>
                            <dt>trade</dt>
                            <dd>{{ activity.markers.get_trade_display}}</dd>

                        </dl>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Descriptions</h2>
                    </div>
                    <div class="panel-body">
                        {{ activity.description|default:'<< EMPTY DESCRIPTION >>'|safe }}
                    </div>
                    {% if activity.long_description %}
                    <h3>Long description</h3>
                    <div class="panel-body">
                        {{ activity.long_description }}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Others</h2>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">

                            <dt>CRN</dt>
                            <dd>{{ activity.channel_reported.name }}</dd>

                            <dt>number</dt>
                            <dd>{{ activity.number }}</dd>
                            <dt>geography</dt>
                            <dd>{{ activity.geography}}</dd>
                            <dt>commitment_national</dt>
                            <dd>{{ activity.commitment_national}}</dd>
                            <dt>disbursement_national</dt>
                            <dd>{{ activity.disbursement_national}}</dd>
                            <dt>grant_element</dt>
                            <dd>{{ activity.grant_element}}</dd>
                            <dt>number_repayment</dt>
                            <dd>{{ activity.number_repayment}}</dd>
                            <dt>expected_start_date</dt>
                            <dd>{{ activity.expected_start_date}}</dd>
                            <dt>completion_date</dt>
                            <dd>{{ activity.completion_date}}</dd>
                            <dt>commitment_date</dt>
                            <dd>{{ activity.commitment_date}}</dd>

                            <dt>usd_received</dt>
                            <dd>{{ activity.usd_received }}
                            <dt>usd_commitment_defl</dt>
                            <dd>{{ activity.usd_commitment_defl }}</dd>
                            <dt>usd_disbursement_defl</dt>
                            <dd>{{ activity.usd_disbursement_defl }}</dd>
                            <dt>usd_received_defl</dt>
                            <dd>{{ activity.usd_received_defl}}</dd>
                            <dt>usd_adjustment</dt>
                            <dd>{{ activity.usd_adjustment}}</dd>
                            <dt>usd_adjustment_defl</dt>
                            <dd>{{ activity.usd_adjustment_defl}}</dd>
                            <dt>usd_amount_untied</dt>
                            <dd>{{ activity.usd_amount_untied}}</dd>
                            <dt>usd_amount_partialtied</dt>
                            <dd>{{ activity.usd_amount_partialtied}}</dd>
                            <dt>usd_amount_tied</dt>
                            <dd>{{ activity.usd_amount_tied}}</dd>
                            <dt>usd_amount_untied_defl</dt>
                            <dd>{{ activity.usd_amount_untied_defl}}</dd>
                            <dt>usd_amount_partialtied_defl</dt>
                            <dd>{{ activity.usd_amount_partialtied_defl}}</dd>
                            <dt>usd_amount_tied_defl</dt>
                            <dd>{{ activity.usd_amount_tied_defl}}</dd>
                            <dt>usd_IRTC</dt>
                            <dd>{{ activity.usd_IRTC}}</dd>
                            <dt>usd_expert_commitment</dt>
                            <dd>{{ activity.usd_expert_commitment}}</dd>
                            <dt>usd_expert_extended</dt>
                            <dd>{{ activity.usd_expert_extended}}</dd>
                            <dt>usd_export_credit</dt>
                            <dd>{{ activity.usd_export_credit}}</dd>
                            <dt>usd_interest</dt>
                            <dd>{{ activity.usd_interest}}</dd>
                            <dt>usd_outstanding</dt>
                            <dd>{{ activity.usd_outstanding}}</dd>
                            <dt>usd_arrears_principal</dt>
                            <dd>{{ activity.usd_arrears_principal}}</dd>
                            <dt>usd_arrears_interest</dt>
                            <dd>{{ activity.usd_arrears_interest}}</dd>
                            <dt>usd_future_DS_principal</dt>
                            <dd>{{ activity.usd_future_DS_principal}}</dd>
                            <dt>usd_future_DS_interest</dt>
                            <dd>{{ activity.usd_future_DS_interest}}</dd>
                        </dl>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>