{% extends 'base_map.html' %}
{% load crs %}
{% load i18n %}
{% load icons %}
{% load staticfiles %}

{% block page_title %}OpenAID - {{ object.title|truncatechars:10 }} - {{ object.recipient.name }}{% endblock %}
{% block og_title %}OpenAID - {{ object.title }}{% endblock %}

{% block content %}

  <h2>{{ object.title }} <small>{{ object.code }}</small></h2>
  <h3>{{ object.country }}</h3>

  <ul>
    {% for project in projects %}
    <li><a href="{{ project.get_absolute_url }}">{{ project.title }}</a> [{{ project.tot_commitments }}/{{ project.tot_disbursements }}]</li>
    {% endfor %}
  </ul>

  <p>Commitment: {{ object.tot_commitments }}</p>
  <p>Disbursement: {{ object.tot_disbursements }}</p>

{% endblock content %}