{% extends 'base_map.html' %}
{% load crs %}
{% load i18n %}
{% load icons %}
{% load staticfiles %}

{% block page_title %}OpenAID - {{ object.title|truncatechars:10 }} - {{ object.recipient.name }}{% endblock %}
{% block og_title %}OpenAID - {{ object.title }}{% endblock %}

{% block content %}

    <div class="row">
        <header class="col-md-9">
            <h2 class="pull-left">{{ object.title }}</h2>
            <h3 class="sub-title">
                <a href="{% url 'codelists:recipient-detail' code=object.recipient.code %}">{{ object.recipient.name }}</a>
            </h3>
        </header>
        <header class="col-md-3 text-right">

        </header>
    </div>

    <div class="spacer"> </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="small-map"><div id="map" data-chart="map" style="height: 260px;" data-iso-code="{{ object.recipient.iso_code }}"></div></div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-6">

            <div class="focus">
                <div class="row no-marg">
                    {% with p_total_commitment=object.commitment|default:0 p_total_disbursement=object.disbursement|default:0 %}
                    <div id="project-pie-{{ object.pk }}" data-chart="pie" data-values="{{ p_total_commitment|stringformat:"f" }}|{{ p_total_disbursement|stringformat:"f" }}"></div>
                    <div class="col-md-4  col-sm-4 col-xs-4 numbers bg-red bordered-radius small-pad">{% if p_total_commitment %}€ {{ p_total_commitment|currency }}{% else %}-{% endif %}<br><span class="eleven">{% trans 'Committed' %}</span></div>
                    <div class="col-md-4  col-sm-4 col-xs-4 col-md-offset-1 col-sm-offset-1 col-offset-xs-1 numbers bg-blue bordered-radius small-pad">{% if p_total_disbursement %}€ {{ p_total_disbursement|currency }}{% else %}-{% endif %}<br><span class="eleven">{% trans 'Used' %}</span></div>
                    {% endwith %}
                </div>
                <div class="row no-marg">
                    <div class="col-md-6">
                        <h4>{% trans 'Agency' %}</h4>
                        <p class="small-paragraph">{{ object.agency.name }}</p>
                    </div>
                    <div class="col-md-6">
                        <h4>{% trans 'Channel reported' %}</h4>
                        <p class="small-paragraph">{{ object.channel_reported|default_if_none:'-' }}</p>
                    </div>
                </div>

                {% if object.description %}
                <div class="row no-marg project-description">
                    <div class="col-md-12">
                        <h4>{% trans 'Description' %}</h4>
                        <p class="readmore small-paragraph" data-max-height="70">
                            {{ object.description|safe }}
                            <a href="#" class="readmore-open">{% trans 'read more' %} {% icon 'caret-down' %}</a>
                            <a href="#" class="readmore-close">{% trans 'close' %} {% icon 'caret-up' %}</a>
                        </p>
                    </div>
                </div>
                {% endif %}

                <ul class="nav nav-pills top-dotted">
                    <li>
                        <a href="{% url 'codelists:sector-detail' code=object.sector.get_root.code %}">{% icon 'chevron-right' %}{{ object.sector.get_root.name }}</a>
                    </li>
                </ul>

                <div class="row no-marg">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <span class="eleven light-gray block">{% trans 'Aid type' %}</span>
                        {% if object.aid_type %}
                        <a href="{% url 'codelists:aid_type-detail' code=object.aid_type.code %}" class="eleven">{{ object.aid_type.name }}</a>
                        {% endif %}
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <span class="eleven light-gray block">{% trans 'Channels' %}</span>
                        {% if object.channel %}
                        <a href="{% url 'codelists:channel-detail' code=object.channel.code %}" class="eleven">{{ object.channel.name }}</a>
                        {% endif %}
                    </div>
                </div>
            </div><!-- .focus -->

        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
            <h4>{% trans 'Project data' %}</h4>
            <ul class="list-unstyled simple-menu" style="height: auto;">
                {% if object.expected_start_date %}
                <li><strong>{% trans 'Expected start date' %}</strong>
                    <span class="pull-right reds">{{ object.expected_start_date|date:'d/m/Y' }}</span></li>{% endif %}
                {% if object.completion_date %}
                <li><strong>{% trans 'Completion date' %}</strong>
                    <span class="pull-right reds">{{ object.completion_date|date:'d/m/Y' }}</span></li>{% endif %}
                <li>N. ID DGCS<span class="pull-right reds">{{ object.number }}</span></li>
                {% if object.purpose %}
                <li>{% trans 'Purpose' %}
                    <span class="pull-right reds">{{ object.purpose.name }}</span>
                </li>{% endif %}
                {% if object.finance_type %}
                <li>{% trans 'Finance type' %}
                    <span class="pull-right reds">{{ object.finance_type.name }}</span></li>{% endif %}
                {% if object.flow_type %}
                <li>{% trans 'Flow type' %}
                    <span class="pull-right reds">{{ object.flow_type }}</span></li>{% endif %}
                {% if object.bi_multi %}
                <li>{% trans 'Bi/Multilateral' %}
                    <span class="pull-right reds">{{ object.bi_multi }}</span></li>{% endif %}
                {% if object.is_ftc %}<li>{% trans 'Free Standing Technical Cooperation' %}</li>{% endif %}
                {% if object.is_pba %}<li>{% trans 'Programme Based Approaches' %}</li>{% endif %}
                {% if object.is_investment %}<li>{% trans 'Investment Project' %}</li>{% endif %}

            </ul>
{#            <span class="eleven light-gray block">#}
{#                {% if object.start_year == object.end_year %}#}
{#                PROGETTO INIZIATO E FINITO NEL {{ object.end_year }}.#}
{#                {% else %}#}
{#                PROGETTO INIZIATO NEL {{ object.start_year }}, CONCLUSO NEL {{ object.end_year }}#}
{#                {% endif %}#}
{#            </span>#}
            <div class="small-spacer"> </div>

        </div>
    </div><!-- .row -->


    <div class="row">
        <div class="col-md-4">
{#            <h2>{% trans 'Documents' %}</h2>#}
{#            <ul class="list-unstyled simple-menu" style="height: auto;">#}
                {# MOCKUP #}
{#                {% for i in '123' %}#}
{#                <li><a href="#">{% icon 'download' %} Allegato {{ i }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </div>

        <div class="col-md-8">
            {% with photo_set=object.photo_set.all %}{% if photo_set|length > 0 %}
            <h2>{% trans 'Photo gallery' %}</h2>
            <ul class="gallery">
                {% for photo in photo_set %}
                <li><img src="{{ photo.file.url }}"></li>
                {% endfor %}
            </ul>
            {% endif %}{% endwith %}
        </div>
     </div><!-- .row -->

{% endblock content %}
