<div class="wrapper-cookies" id="accept-cookies">
    <div class="container">
        <div class="accept-cookies" >
            Questo sito usa cookie per fornirti un'esperienza migliore. Proseguendo la navigazione accetti l'utilizzo dei cookie da parte nostra
            <span id="dismiss-cookie-adv" class="btn btn-danger">OK</span>
            <a href="{% url 'privacy' %}" id="dismiss-cookie-adv" class="btn btn-danger">Approfondisci</a>
        </div>
    </div>
    <div id="up"></div>
</div>
