{% load staticfiles %}
{% load i18n %}
<footer id="footer">
    <div class="container">
    <div class="row">
            <div class="col-md-3">
                <h4>{% trans 'Open Aid Italia' %}</h4>
                <ul class="list-unstyled">
                    {% for url_name, label in footer_sections.oai.items %}
                    <li>
                        <a href="{% url url_name %}">{% trans label %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-3">
                <h4>{% trans 'How to ...' %}</h4>
                <ul class="list-unstyled">
                    {% for url_name, label in footer_sections.comefare.items %}
                    <li>
                        <a href="{% url url_name %}">{% trans label %}</a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="{% url 'faq_question_list' %}">{% trans "Frequently Asked Questions" %}</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>{% trans 'Open data' %}</h4>
                <ul class="list-unstyled">
                    {% for url_name, label in footer_sections.od.items %}
                    <li>
                        <a href="{% url url_name %}">{% trans label %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-3">
                <h4>{% trans 'Open Aid is a project by' %}</h4>
                <ul class="list-unstyled clearfix">
                    <li>
                        <a href="http://www.esteri.it/" target="_blank">
                            <img src="{% static 'img/layout/logo_farnesina.png' %}" class="img-responsive" alt="Ministero degli Esteri" />
                        </a>
                    </li>
                    <li>
                        <a href="http://www.cooperazioneallosviluppo.esteri.it/">
                            <img src="{% static 'img/layout/logo_dgcs.png' %}" class="img-responsive" alt="DGCS"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{% static 'img/layout/logo_cc.png' %}" alt="CC License"/>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dati.gov.it/">
                            <img src="{% static 'img/layout/logo_opendata.png' %}" alt="Open Data"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div><!-- .container -->
    </div><!-- .row -->

</footer><!-- #footer -->