{% load staticfiles %}
{% load i18n %}
<footer id="footer">
    <div class="container">
    <div class="row">
            <div class="col-md-3">
                <h4>{% trans 'Open Aid Italia' %}</h4>
                <ul class="list-unstyled">
                    {% for url_name, label in footer_sections.oai.items %}
                    <li>
                        <a href="{% url url_name %}">{% trans label %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-3">
                <h4>{% trans 'FAQ' %}</h4>
                <ul class="list-unstyled">
                    {# TODO: Remove this hardcoding stuff!!!! #}
                    <li><a href="{% url 'faq_question_detail' slug='update' %}">{% trans "Why isn't the data updated to 2013?" %}</a></li>
                    <li><a href="{% url 'faq_question_detail' slug='fonte' %}">{% trans "Where does the data come from?" %}</a></li>
                    <li><a href="{% url 'faq_question_detail' slug='data' %}">{% trans "To which extent is the data reliable?" %}</a></li>
                    <li><a href="{% url 'faq_question_detail' slug='bilaterale' %}">{% trans "What do we mean by Bilateral and Multi-bilateral ODA?" %}</a></li>
{#                    {% for url_name, label in footer_sections.comefare.items %}#}
{#                    <li>#}
{#                        <a href="{% url url_name %}">{% trans label %}</a>#}
{#                    </li>#}
{#                    {% endfor %}#}
                    <li>
                        <a href="{% url 'faq_question_list' %}"><i>{% trans "More questions and answers" %}</i></a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>{% trans 'Open data' %}</h4>
                <ul class="list-unstyled">
                    {% for url_name, label in footer_sections.od.items %}
                    {# TODO: Remove this hardcoding stuff!!!! #}
                    {% if url_name != 'licenze_cc' and url_name != 'dati_per_ricerca' and url_name != 'open_data_pa' %}
                    <li>
                        <a href="{% url url_name %}">{% trans label %}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <ul class="list-unstyled">
                    <li>
                        <a href="{% url 'licenze_cc' %}">
                            <img src="http://creativecommons.org/images/public/somerights20.png" alt="CC License"/>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dati.gov.it/">
                            <img src="{% static 'img/layout/logo_opendata.png' %}" alt="Open Data"/>
                        </a>
                    </li>
                </ul>


            </div>

            <div class="col-md-3">
                <h4>{% trans 'Open Aid is a project by' %}</h4>
                <ul class="list-unstyled clearfix">
                    <li>
                        <a href="http://www.esteri.it/" target="_blank">
                            <img src="{% static 'img/layout/logo_farnesina.png' %}" class="img-responsive img-thumbnail"
                                 alt="Ministero degli Esteri" />
                        </a>
                    </li>
                </ul>
            </div>
        </div><!-- .container -->
    </div><!-- .row -->

</footer><!-- #footer -->