{% load i18n %}
<footer id="footer">
    <div class="container">
    <div class="row">
            <div class="col-md-3">
                <h4>{% trans 'Open Aid Italia' %}</h4>
                <ul class="list-unstyled">
                    {% for url_name, label in footer_sections.oai.items %}
                    <li>
                        <a href="{% url url_name %}">{% trans label %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-3">
                <h4>{% trans 'How to ...' %}</h4>
                <ul class="list-unstyled">
                    {% for url_name, label in footer_sections.comefare.items %}
                    <li>
                        <a href="{% url url_name %}">{% trans label %}</a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="{% url 'faq_question_list' %}">{% trans "Frequently Asked Questions" %}</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>{% trans 'Open data' %}</h4>
                <ul class="list-unstyled">
                    {% for url_name, label in footer_sections.od.items %}
                    <li>
                        <a href="{% url url_name %}">{% trans label %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-3">
                <h4>{% trans 'Open Aid is a project by' %}</h4>
                <ul class="list-unstyled partners clearfix">
                    <li>
                        <a href="#" class="ae"></a>
                    </li>
                    <li>
                        <a href="#" class="coop"></a>
                    </li>
                    <li>
                        <a href="#" class="cc"></a>
                    </li>
                    <li>
                        <a href="#" class="od"></a>
                    </li>
                </ul>
            </div>
        </div><!-- .container -->
    </div><!-- .row -->

</footer><!-- #footer -->