{% extends 'base_map.html' %}
{% load i18n %}
{% load staticfiles %}
{% load idioticon %}
{% load icons %}
{% load humanize %}
{% load crs %}

{% block content %}
    <div class="row">
        <div class="container">
            <div class="col-md-7">
                <h2><a href="{% url 'cooperazione_italiana' %}">{% trans 'Italian Development Cooperation' %}</a></h2>

                <p>
{% blocktrans %}Since the 1950s, Italian Development Cooperation has grown through aid programs in
countries linked to Italy by former colonial ties.
Italy has developed a more systematic cooperative approach aimed at alleviating poverty worldwide
and helping developing countries to strengthen their institutions and governance.
In recent years, due to new global plights, Italian Cooperation has played a crucial role in
defining Italian foreign policy,
aimed at maintaining peace and managing migration flows.{% endblocktrans %}
                    <a href="{% url 'cooperazione_italiana' %}"
                       class="read-more pull-right twelve">{% trans 'read more' %} {% icon 'caret-right' %}</a>
                </p>

            </div>

            <div class="col-md-5">
                <h2><a href="{% url 'blog_home' %}">{% trans "News" %}</a></h2>

                <ul class="media-list">
                    {% for entry in entries_list %}
                        <li class="media">
                            <article class="media-body">
                                <header>
                                    <a href="{% url 'blog_item' entry.slug %}">{{ entry.title }}</a>
                                </header>
                                <div class="text">
                                    {{ entry.abstract|safe }}
                                </div>
                                <footer>
                                    <time datetime="2014-05-06 19:00">{{ entry.published_at|date:'d/m/Y' }}</time>
                                </footer>
                            </article>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <!-- .container -->
    </div><!-- .row -->

    <div class="spacer"></div>

    {% crs_stats %}

    <div class="row">
        <div class="col-md-8">
            {% include 'commons/top_projects.html' with top_projects=top_projects %}
        </div>

        <div class="col-md-4">
            <h2>{% trans 'Focus on' %}</h2>
            {% if project_focus %}
            <div class="row">
                <div class="col-md-12">
                    <div class="focus">
                        <div class="spacer"></div>
                        <div class="row no-marg">
                            <div id="pie4" data-chart="pie" data-values="{{ project_focus.total_commitment|default:0 }}|{{ project_focus.total_disboursement|default:0 }}"></div>
                            <div class="col-md-4 numbers bg-red bordered-radius small-pad">€
                                {{ project_focus.total_commitment|currency }}<br><span class="eleven">{% trans 'Committed' %}</span></div>
                            <div class="col-md-4 col-md-offset-1 numbers bg-blue bordered-radius small-pad">€
                                {{ project_focus.total_disboursement|currency }}<br><span class="eleven">{% trans 'Used' %}</span></div>
                        </div>
                        <div class="row no-marg">
                            <h3><a href="{% url 'projects:project-detail' pk=project_focus.pk %}">{{ project_focus.title }}</a></h3>
                            {% for recipient in project_focus.recipients|unique %}
                                <a href="{% url 'codelists:recipient-detail' code=recipient.code %}">{{ recipient.name }}</a>
                            {% endfor %}
                             <span class="light-gray eleven">{{ project_focus.start_year }}-{{ project_focus.end_eyar }}</span>
                        </div>
                        <div class="small-spacer"></div>
                        <div class="row no-marg">
                            {% for i in '1234' %}
                                <div class="col-md-3"><img src="{% static 'img/contents/thumbnail.jpg' %}"
                                                           class="img-responsive img-thumbnail"></div>
                            {% endfor %}
                        </div>
                        <div class="spacer"></div>
                        <div class="row no-marg">
                            <div class="col-md-6">
                                <h4>FINANZIATORE</h4>
                                <p class="small-paragraph">{{ project_focus.agency }}</p>
                            </div>
                            <div class="col-md-6">
                                <h4>ESECUTORE</h4>
                                <p class="small-paragraph">{{ project_focus.channel_reported|default_if_none:'-' }}</p>
                            </div>
                        </div>
                        {% if project_focus.description %}
                        <div class="row">
                            <div class="col-md-12">
                                <h4>{% trans 'Description' %}</h4>
                                <p class="readmore small-paragraph" data-max-height="40">
                                    {{ project_focus.description }}
                                    <a href="#" class="readmore-open">{% trans 'read more' %} {% icon 'caret-down' %}</a>
                                    <a href="#" class="readmore-close">{% trans 'close' %} {% icon 'caret-up' %}</a>
                                </p>
                            </div>
                        </div>
                        {% endif %}

                        <ul class="nav nav-pills top-dotted">
                            {% for sector in project_focus.sectors|unique %}
                            <li>
                                <a href="{% url 'codelists:sector-detail' code=sector.code %}">{% icon 'chevron-right' %}{{ sector.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>

                        <div class="row no-marg">
                            <div class="col-md-6">
                                <span class="eleven light-gray block">{% trans 'Aid type' %}</span>
                                {% for aid_type in project_focus.aid_types|unique %}{% if aid_type %}
                                <a href="{% url 'codelists:aid_type-detail' code=aid_type.code %}" class="eleven">{{ aid_type.name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endif %}{% endfor %}
                            </div>
                            <div class="col-md-6">
                                <span class="eleven light-gray block">{% trans 'Channels' %}</span>
                                {% for channel in project_focus.channels|unique %}{% if channel %}
                                <a href="{% url 'codelists:channel-detail' code=channel.code %}" class="eleven">{{ channel.name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endif %}{% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- .focus -->
                    <div class="like"><img src="{% static 'img/layout/like.jpg' %}" class="pull-left"></div>
                </div>

            </div>
            {% endif %}

        </div>
    </div><!-- .row -->

{% endblock %}