{% extends 'base_map.html' %}
{% load i18n %}
{% load staticfiles %}
{% load idioticon %}
{% load icons %}
{% load humanize %}
{% load crs %}

{% block content %}
    <div class="row">
        <div class="container">
            <div class="col-md-7">
                <h2><a href="{% url 'cooperazione_italiana' %}">{% trans 'Italian Development Cooperation' %}</a></h2>

                <p>
{% blocktrans %}Since the 1950s, Italian Development Cooperation has grown through aid programs in
countries linked to Italy by former colonial ties.
Italy has developed a more systematic cooperative approach aimed at alleviating poverty worldwide
and helping developing countries to strengthen their institutions and governance.
In recent years, due to new global plights, Italian Cooperation has played a crucial role in
defining Italian foreign policy,
aimed at maintaining peace and managing migration flows.{% endblocktrans %}

                    <a href="{% url 'cooperazione_italiana' %}"
                       class="read-more pull-right twelve">{% trans 'read more' %} {% icon 'caret-right' %}</a>
                </p>

            </div>

            <div class="col-md-5">
                <h2><a href="{% url 'blog_home' %}">{% trans "News" %}</a></h2>

                <ul class="media-list home-blog">
                    {% for entry in entries_list %}
                        <li class="media">
                            <article class="media-body">
                                <header>
                                    <a href="{% url 'blog_item' entry.slug %}">{{ entry.title }}</a>
                                </header>
                                <div class="text">
                                    {{ entry.abstract|safe }}
                                </div>
                            </article>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <!-- .container -->
    </div><!-- .row -->

    <div class="spacer"></div>

    {% crs_stats %}

    <div class="row" id="focus-panels">
        <div class="col-md-12">
            {% include 'commons/top_initiatives.html' with top_initiatives=top_initiatives %}
        </div>
    </div><!-- .row -->

{% endblock %}

{% block modal %}
    {{ block.super }}
    {#<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel">#}
    {#    <div class="modal-dialog">#}
    {#        <div class="modal-content">#}
    {#            <div class="modal-header">#}
    {#                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans 'close' %}</span></button>#}
    {#                <h4 class="modal-title" id="welcomeModalLabel">{% trans "WELCOME TO OPEN AID ITALIA" %}</h4>#}
    {#            </div>#}
    {#            <div class="modal-body">{% blocktrans %}<p class="text-center">Welcome to the website that publishes all the data regarding Italy's Development AID</p>#}
    {#<p class="text-center">NEWS</p>#}
    {#<p>The 2013 data has been updated, and communicated to the OECD that is undergoing its usual certification process.</p>#}
    {#<p>The Api (Application Programming Interface) has been published, for the free reuse of the data</p>#}
    {#<p>The website is continuously updating with more content, also multimedia, on single initiatives and more information on individual actors involved</p>#}
    {#<p>The website is evolving: do not hesitate in contacting us with your comments and complaints</p>#}
    {#<p>In the next phases of the project the website will be open to the contributions of different actors, that will be able to publish content on the activities in which they are involved</p>#}
    {#<p>The platform will then be able to give detailed information about other types of development aid, to paint a more complete pictures of Italy's effort</p>#}
    {#<p>Keep on following us!</p>{% endblocktrans %}#}
    {#                <div class="text-right"><a href="#" class="text-muted" data-dismiss="modal">{% trans 'close' %}</a></div>#}
    {#            </div>#}
    {#        </div><!-- /.modal-content -->#}
    {#    </div><!-- /.modal-dialog -->#}
    {#</div><!-- /.modal -->#}
{% endblock modal %}

{% block javascript %}
{{ block.super }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
{#            if ($.cookie('welcome-modal') == null || location.hash == '#welcome') {#}
{#                $('#welcomeModal').modal('show');#}
{#                $.cookie('welcome-modal', 7);#}
{#            }#}
            $('a[href=#multi-tab]').on('shown.bs.tab', function(){
                $('#focus-panels').hide();
            });
            $('a[href=#bi-multi-tab]').on('shown.bs.tab', function(){
                $('#focus-panels').show();
            });
            $('a[href=#total-aid-tab]').on('shown.bs.tab', function(){
                $('#focus-panels').show();
            });
        });
    </script>

{% endblock %}