{% extends 'base.html' %}
{% load i18n %}
{% load idioticon %}
{% load icons %}
{% load humanize %}
{% load crs %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="col-md-7">
            <h2><a href="#">{% trans 'Italian Development Cooperation' %}</a></h2>
            <p>{% blocktrans %}
                Since the 1950s, Italian Development Cooperation has grown through aid programs in countries linked to Italy by former colonial ties.
                Italy has developed a more systematic cooperative approach aimed at alleviating poverty worldwide and helping developing countries to strengthen their institutions and governance.
                In recent years, due to new global plights, Italian Cooperation has played a crucial role in defining Italian foreign policy,
                aimed at maintaining peace and managing migration flows.
                {% endblocktrans %}
            </p>
            <a href="#" class="read-more pull-right twelve">{% trans 'read more' %} <span class="fa fa-caret-right"> </span></a>
        </div>

        <div class="col-md-5">
            <h2><a href="#">{% trans "News" %}</a></h2>
            <ul class="media-list">
                <li class="media">
                    <figure class="pull-left">
                        <img src="http://cambelt.co/42x42/ML?color=5e6a77" alt="avatar" class="img-responsive">
                    </figure>
                    <article class="media-body">
                        <header>
                            <a href="#">Titolo del post lorem ipsum dolor sit amet</a>
                        </header>
                        <div class="text">
                            <p>Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia ...</p>
                        </div>
                        <footer>
                            <time datetime="2014-05-06 19:00">6 maggio 2014</time>
                        </footer>
                    </article>
                </li>
                <li class="media">
                    <figure class="pull-left">
                        <img src="http://cambelt.co/42x42/ML?color=5e6a77" alt="avatar" class="img-responsive">
                    </figure>
                    <article class="media-body">
                        <header>
                            <a href="#">Titolo del post lorem ipsum dolor sit amet</a>
                        </header>
                        <div class="text">
                            <p>Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia ...</p>
                        </div>
                        <footer>
                            <time datetime="2014-05-06 19:00">6 maggio 2014</time>
                        </footer>
                    </article>
                </li>
                <li class="media">
                    <figure class="pull-left">
                        <img src="http://cambelt.co/42x42/ML?color=5e6a77" alt="avatar" class="img-responsive">
                    </figure>
                    <article class="media-body">
                        <header>
                            <a href="#">Titolo del post lorem ipsum dolor sit amet</a>
                        </header>
                        <div class="text">
                            <p>Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia ...</p>
                        </div>
                        <footer>
                            <time datetime="2014-05-06 19:00">6 maggio 2014</time>
                        </footer>
                    </article>
                </li>
            </ul>
            <a href="#" class="read-more pull-right twelve">{% trans 'read more' %} <span class="fa fa-caret-right"> </span></a>
        </div>
    </div><!-- .container -->
</div><!-- .row -->

<div class="spacer"> </div>

{% crs_stats %}

<div class="row">
    <div class="container">
        <div class="col-md-8">
            <div class="progetti">
                <h2><a href="#">Le iniziative più rilevanti</a></h2>
                <div class="bordered-radius" style="overflow:hidden;">
                    <ul class="list-unstyled">
                        <li>
                            <ul class="nav nav-pills ">
                                <li>
                                    <a href="#"><span class="fa fa-chevron-right"> </span>Infrastrutture e servizi sociali</a>
                                </li>
                                <li>
                                    <a href="#"><span class="fa fa-chevron-right"> </span> Lorem ipsum dolor sit armet</a>
                                </li>
                                <li>
                                    <a href="#"><span class="fa fa-chevron-right"> </span> Lorem ipsum dolor sit amet nome troppo luced adisciping</a>
                                </li>
                            </ul>
                            <article class="progetti-body">
                                <header>
                                    <div id="pie1"></div>
                                    <a href="#">Incentivazione dei processi di Rigenerazione Culturale, organizzazione degli
spazi e promozione dei diritti delle Comunità Indigene Mapuche in Araucania</a>
                                </header>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class=" numbers bg-red bordered-radius small-pad">€ 300.000.000<br><span class="eleven">IMPEGNATI, 2012</span></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class=" numbers bg-blue bordered-radius small-pad">€ 300.000.000<br><span class="eleven">IMPEGNATI, 2012</span></div>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="eleven light-gray block">TIPOLOGIA</span>
                                        <a class="eleven">Lorem ipsum</a>, <a class="eleven">Lorem ipsum</a>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="eleven light-gray block">TIPOLOGIA</span>
                                        <a class="eleven">Lorem ipsum</a>, <a class="eleven">Lorem ipsum</a>
                                    </div>
                                    <div class="col-md-12"><a href="#" class="twelve">PAESE</a> <a href="#" class="twelve">PAESE</a> <span class="twelve light-gray">anno</span> <span class="twelve light-gray">anno</span></div>
                                 </div><!-- .row -->
                            </article>
                        </li>
                        <li>
                            <ul class="nav nav-pills ">
                                <li>
                                    <a href="#"><span class="fa fa-chevron-right"> </span>Infrastrutture e servizi sociali</a>
                                </li>
                                <li>
                                    <a href="#"><span class="fa fa-chevron-right"> </span> Lorem ipsum dolor sit armet</a>
                                </li>
                                <li>
                                    <a href="#"><span class="fa fa-chevron-right"> </span> Lorem ipsum dolor sit amet nome troppo luced adisciping</a>
                                </li>
                            </ul>
                            <article class="progetti-body">
                                <header>
                                    <div id="pie2"></div>
                                    <a href="#">Incentivazione dei processi di Rigenerazione Culturale, organizzazione degli
spazi e promozione dei diritti delle Comunità Indigene Mapuche in Araucania</a>
                                </header>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class=" numbers bg-red bordered-radius small-pad">€ 300.000.000<br><span class="eleven">IMPEGNATI, 2012</span></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class=" numbers bg-blue bordered-radius small-pad">€ 300.000.000<br><span class="eleven">IMPEGNATI, 2012</span></div>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="eleven light-gray block">TIPOLOGIA</span>
                                        <a class="eleven">Lorem ipsum</a>, <a class="eleven">Lorem ipsum</a>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="eleven light-gray block">TIPOLOGIA</span>
                                        <a class="eleven">Lorem ipsum</a>, <a class="eleven">Lorem ipsum</a>
                                    </div>
                                    <div class="col-md-12"><a href="#" class="twelve">PAESE</a> <a href="#" class="twelve">PAESE</a> <span class="twelve light-gray">anno</span> <span class="twelve light-gray">anno</span></div>
                                 </div><!-- .row -->
                            </article>
                        </li>
                        <li>
                            <ul class="nav nav-pills ">
                                <li>
                                    <a href="#"><span class="fa fa-chevron-right"> </span>Infrastrutture e servizi sociali</a>
                                </li>
                                <li>
                                    <a href="#"><span class="fa fa-chevron-right"> </span> Lorem ipsum dolor sit armet</a>
                                </li>
                                <li>
                                    <a href="#"><span class="fa fa-chevron-right"> </span> Lorem ipsum dolor sit amet nome troppo luced adisciping</a>
                                </li>
                            </ul>
                            <article class="progetti-body">
                                <header>
                                    <div id="pie3"></div>
                                    <a href="#">Incentivazione dei processi di Rigenerazione Culturale, organizzazione degli
spazi e promozione dei diritti delle Comunità Indigene Mapuche in Araucania</a>
                                </header>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class=" numbers bg-red bordered-radius small-pad">€ 300.000.000<br><span class="eleven">IMPEGNATI, 2012</span></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class=" numbers bg-blue bordered-radius small-pad">€ 300.000.000<br><span class="eleven">IMPEGNATI, 2012</span></div>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="eleven light-gray block">TIPOLOGIA</span>
                                        <a class="eleven">Lorem ipsum</a>, <a class="eleven">Lorem ipsum</a>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="eleven light-gray block">TIPOLOGIA</span>
                                        <a class="eleven">Lorem ipsum</a>, <a class="eleven">Lorem ipsum</a>
                                    </div>
                                    <div class="col-md-12"><a href="#" class="twelve">PAESE</a> <a href="#" class="twelve">PAESE</a> <span class="twelve light-gray">anno</span> <span class="twelve light-gray">anno</span></div>
                                 </div><!-- .row -->
                            </article>
                        </li>
                    </ul>
                    <a href="#" class="read-more pull-right pad">{% trans "Show all initiatives" %} <span class="fa fa-align-justify"> </span></a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <h2><a href="#">FOCUS SU UN INIZIATIVA</a></h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="focus">
                        <div class="spacer"> </div>
                        <div class="row no-marg">
                            <div id="pie4"></div>
                            <div class="col-md-4 numbers bg-red bordered-radius small-pad">€ 300.000.000<br><span class="eleven">IMPEGNATI, 2012</span></div>
                            <div class="col-md-4 col-md-offset-1 numbers bg-blue bordered-radius small-pad">€ 300.000.000<br><span class="eleven">IMPEGNATI, 2012</span></div>
                        </div>
                        <div class="row no-marg">
                            <h3><a href="#">Nome progetto Lorem Ipsum dolor sit amet </a></h3>
                            <a href="#">PAESE</a> <span class="light-gray eleven">2012-2014</span>
                        </div>
                        <div class="small-spacer"> </div>
                        <div class="row no-marg">
                            <div class="col-md-3"><img src="img/contents/thumbnail.jpg" class="img-responsive img-thumbnail"></div>
                            <div class="col-md-3"><img src="img/contents/thumbnail.jpg" class="img-responsive img-thumbnail"></div>
                            <div class="col-md-3"><img src="img/contents/thumbnail.jpg" class="img-responsive img-thumbnail"></div>
                            <div class="col-md-3"><img src="img/contents/thumbnail.jpg" class="img-responsive img-thumbnail"></div>
                        </div>
                        <div class="spacer"> </div>
                        <div class="row no-marg">
                            <div class="col-md-6">
                                <h4>REALIZZATORE</h4>
                                <p class="small-paragraph">Lorem Ipsum dolor sit amet</p>
                            </div>
                            <div class="col-md-6">
                                <h4>FINANZIATORE</h4>
                                <p class="small-paragraph"><a href="#">Lorem Ipsum dolor sit amet</a></p>
                            </div>
                            <div class="col-md-6">
                                <h4>DESCRIZIONE</h4>
                                <p class="small-paragraph">Lorem Ipsum dolor sit amet</p>
                            </div>
                        </div>

                        <ul class="nav nav-pills top-dotted">
                            <li>
                                <a href="#"><span class="fa fa-chevron-right"> </span>Infrastrutture e servizi sociali</a>
                            </li>
                            <li>
                                <a href="#"><span class="fa fa-chevron-right"> </span> Lorem ipsum dolor sit armet</a>
                            </li>
                            <li>
                                <a href="#"><span class="fa fa-chevron-right"> </span> Lorem ipsum dolor sit amet nome troppo luced adisciping</a>
                            </li>
                        </ul>

                        <div class="row no-marg">
                            <div class="col-md-6">
                                <span class="eleven light-gray block">TIPOLOGIA</span>
                                <a class="eleven">Lorem ipsum</a>, <a class="eleven">Lorem ipsum</a>
                            </div>
                            <div class="col-md-6">
                                <span class="eleven light-gray block">TIPOLOGIA</span>
                                <a class="eleven">Lorem ipsum</a>, <a class="eleven">Lorem ipsum</a>
                            </div>
                        </div>
                    </div><!-- .focus -->
                    <div class="like"><img src="img/layout/like.jpg" class="pull-left"></div>
                    <a href="#" class="pull-right">1 <span class="fa fa-comment-o"> </span></a>
                </div>

            </div>

        </div>
    </div><!-- .container -->
</div><!-- .row -->

{% endblock %}