{% load i18n %}
<div class="row" id="main-menu">
    <div class="col-sm-12 bg-red">
        <div class="container">
            <nav class="navbar navbar-default navbar-main" role="navigation">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="dropdown-toggle first" data-toggle="dropdown">A chi vanno gli aiuti? <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for recipient, children in recipients %}
                            {% if children|length > 0 %}
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">{{ recipient.name }}</a>
                                <ul class="dropdown-menu">
                                    {% for child in children|dictsort:'name' %}{% if child.activity_count > 0 %}
                                    <li><a href="{% url 'codelists:recipient-detail' code=child.code %}">{{ child.name }}</a></li>
                                    {% endif %}{% endfor %}
                                </ul>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url 'codelists:recipient-detail' code=recipient.code %}">{{ recipient.name }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">PER COSA VENGONO UTILIZZATI? <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for sector in sectors|dictsort:'name' %}{% if sector.activity_count > 0 %}
                            <li>
                                <a href="{% url 'codelists:sector-detail' code=sector.code %}">{{ sector.name }}</a>
                            </li>
                            {% endif %}{% endfor %}
                        </ul>
                    </li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">CHI FINANZIA? <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for channel in channels|dictsort:'name' %}{% if channel.activity_count > 0 %}
                            <li>
                                <a href="{% url 'codelists:channel-detail' code=channel.code %}">{{ channel.name }}</a>
                            </li>
                            {% endif %}{% endfor %}
                        </ul>
                    </li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">CON QUALI STRUMENTI? <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for aid_type in aid_types|dictsort:'name' %}{% if aid_type.activity_count > 0 %}
                            <li>
                                <a href="{% url 'codelists:aid_type-detail' code=aid_type.code %}">{{ aid_type.name }}</a>
                            </li>
                            {% endif %}{% endfor %}

                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" action="{% url 'projects:search' %}" method="get" role="search">

                    <div class="search-form">
                        <div class="form-white">
                            <input class="form-control" id="search-input" name="{{ search_form.q.html_name }}"
                               value="{{ search_form.q.value|default_if_none:'' }}"
                               type="text" placeholder="{% trans "Search" %}">
{#                            <ul class="nav navbar-nav pull-right">#}
{#                                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">REALIZZATORI<b class="caret"></b></a>#}
{#                                    <ul class="dropdown-menu">#}
{#                                        <li><a href="#">Action</a></li>#}
{#                                        <li><a href="#">Action</a></li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                            </ul>#}
                        </div>
                        <button type="submit" class="fa fa-search" style="float:right"> </button>
                    </div>
                </form>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div><!-- .container -->
    </div>
</div><!-- .row -->