{% extends 'base_map.html' %}
{% load i18n %}
{% load staticfiles %}
{% load idioticon %}
{% load icons %}
{% load humanize %}
{% load crs %}

{% block body_header %}{% endblock %}
{% block body_footer %}{% endblock %}
{% block cookies %}{% endblock %}


{% block body_content %}

    <div id="main-content">
    <div class="container">

        {% crs_stats %}
    </div>
    </div>



{% endblock %}

{% block javascript %}

    <script>window.is_widget = true;</script>

    {{ block.super }}

{% endblock %}
