{% extends 'base.html' %}
{% block cookies %}{% endblock %}

{% block header %}
    {% include 'header_work_progress.html' %}
{% endblock %}

{% block navbar %}{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12" style="font-size: 20px;">
            <p>
                Il sito &egrave; in manutenzione programmata.<br/>
                Attendi qualche minuto, torneremo al più presto.
            </p>

            <p>
                Grazie per la pazienza,<br/>
                lo staff di Open Aid
            </p>

        </div>
    </div>
{% endblock %}